.addForm {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:20px;
    padding-top:5px;
    width: 300px;
    min-height:460px;
    left: calc(50% - 170px);
    top: -500px;
    background-color: rgb(246, 247, 253);
    box-shadow: 0 0 0 rgb(246, 247, 253);
    z-index: 9;
    border-radius: 10px;
    overflow:hidden;
    transition:box-shadow 0.5s linear 0.6s, top 0.5s, opacity 0.5s;
    opacity:0;
    font-family:'Noto Sans JP', sans-serif;
}

.addForm h1 {
    margin-bottom:25px;
    font-size:30px;
    color:rgba(99, 109, 126, 0.8);
}

.addForm input[type=text] {
    width: 90%;
    padding: 8px;
    margin-bottom:25px;
    border: none;
    border-bottom:1px solid rgba(99, 109, 126, 0.8);
    background: none;
    font-size: large;
    color:rgba(86, 95, 110, 0.8);
}

.addForm input:focus {
    outline:none;
}

.addForm label {
    color:rgba(99, 109, 126, 0.8);
    margin-left: 2%;
    float:left;
}

.imgContainer {
    display:inline-block;
    text-align:center;
    margin:5% 7% 1% 7%;
    width:80px;
    height:105px;
    border:none;
    cursor:pointer;
}

.imgContainer .defaultImg {
    width:80px;
    height:80px;
    border-radius:10px;
    border:1px solid rgba(144, 156, 175, 0.8);
}

.imgContainer .defaultImg img {
    position:relative;
    width:82px;
    height:82px;
    right:38.9%;
    top:-1.8%;
}

.imgContainer .imgLabel {
    position:relative;
    text-align:center;
    display:inline;
    top:2px;
    color:rgba(99, 109, 126, 0.8);
    pointer-events:none;
}

.imgContainer.active .imgLabel {
    color:rgba(87, 125, 190, 0.8);
    border-bottom:thin solid rgba(87, 125, 190, 0.8);
}

.addForm button.submit {
    position:relative;
    top:20px;
    background: rgb(246, 247, 253);
    color: rgba(99, 109, 126, 0.8);
    border:none;
    border-radius:18px;
    box-shadow:3px 3px 5px rgba(179, 183, 189, 0.8);
    padding: 6px 18px;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 14px;
    transition:0.5s;
}

.addForm button.submit:hover {
    color: rgb(26, 51, 122);
    cursor:pointer;
    padding:6px 100px;
}

.addForm button.submit:focus {
    outline:none;
}

.addForm img {
    position:absolute;
    top:15px;
    right:-15px;
    box-shadow:none;
    width:15px;
    height:auto;
}

.addFile {
    position:absolute;
    right:68px;
    width:80px;
    height:80px;
    border-radius:8px;
    font-size:0;
    z-index:10;
    cursor:pointer;
  }

.addFile::-webkit-file-upload-button {
    visibility: hidden;
  }

.addFile::before {
    content: none;
  }

.addFile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }