.addForm {
    position: absolute;
    text-align:center;
    padding:20px;
    padding-top:6px;
    width: 300px;
    height:0px;
    left: calc(50% - 200px);
    top: 5%;
    background-color: rgb(246, 247, 253);
    z-index: 9;
    border-radius: 10px;
    overflow:hidden;
    transition:0.5s;
    opacity:0;
    font-family:'Noto Sans JP', sans-serif;
}

.addForm h1 {
    margin-bottom:25px;
    font-size:30px;
    color:rgba(99, 109, 126, 0.8);
}

.addForm input[type=text] {
    width: 90%;
    padding: 8px;
    margin: 0px 3% 30px 2%;
    border: none;
    border-bottom:1px solid rgba(99, 109, 126, 0.8);
    background: none;
    font-size: large;
    color:rgba(86, 95, 110, 0.8);
}

.addForm input:focus {
    outline:none;
}

.addForm label {
    color:rgba(99, 109, 126, 0.8);
    margin-left: 2%;
    float:left;
}

.addForm button {
    bottom:15px;
    background: rgb(246, 247, 253);
    color: rgba(99, 109, 126, 0.8);
    border:none;
    border-radius:18px;
    box-shadow:3px 3px 5px rgba(179, 183, 189, 0.8);
    padding: 6px 18px;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 14px;
    transition:0.5s;
}

.addForm button:hover {
    background: #ddd;
    color: black;
    cursor:pointer;
    padding:6px 50px;
}

.addForm button:focus {
    outline:none;
}

.addForm img {
    position:absolute;
    top:15px;
    right:-15px;
    box-shadow:none;
    width:15px;
    height:auto;
}

.addForm {
    animation: fadeEffect 0.4s; 
  }
  
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }