.bookmarkBox {
    position:fixed;
    top:calc(50% - 260px);
    left:0;
    opacity:0;
    width:350px;
    height:517px;
    padding:0.8rem 1.6rem;
    background-color: rgb(246, 247, 253);
    box-shadow: 0px 0px 0px rgb(246, 247, 253);
    border-radius:5%;
    font-family:'Noto Sans JP', sans-serif;
    overflow-y:auto;
    overflow-x:hidden;
    pointer-events:none;
    transition:0.5s;
    z-index:11;
}
.bookmarkBox.active {
    left:calc(50% - 175px);
    box-shadow: 0px 0px 10px rgb(246, 247, 253);
    opacity:1;
    pointer-events:all;
    border-top-right-radius: 0%;
    border-bottom-right-radius: 0%;
}
.bookmarkBox.focus {
    left:calc(50% - 175px);
    box-shadow: 0px 0px 10px rgb(114, 114, 114);
    opacity:1;
    pointer-events:all;
}



.importTeacher {
    display:none;
    color:rgb(99, 109, 126);
}
.teachHeader {
    font-size:26px;
    letter-spacing:1px;
    margin-top:0.5rem;
    padding-bottom:0.2rem;
    color: rgb(111, 120, 136);
}
.teachHeaderLine {
    height:1px;
    width:18.7rem;
    margin-bottom:1.3rem;
    background-color:rgb(141, 152, 172);
    text-align:center;
    animation: headerBottom 2s;
}
.teachSteps {
    padding-left:0.6rem;
    line-height:1.7rem;
}
.step {
    text-align:left;
    padding:0 0 0.9rem 0.5rem;
}
.step:nth-child(1) {animation: stepSlide 0.4s}
.step:nth-child(2) {animation: stepSlide 0.8s}
.step:nth-child(3) {animation: stepSlide 1.2s}
.step:nth-child(4) {animation: stepSlide 1.6s}
.dots {
    box-shadow:none;
    width:20px;
    height:20px;
}
.openFile {
    position:absolute;
    right:1.8rem;
    width:18.2rem;
    height:2.7rem;
    border-radius:1000px;
    font-size:0;
    z-index:10;
    cursor:pointer;
}
.openFile::-webkit-file-upload-button {
    visibility: hidden;
}
.openFile::before {
    content: none;
}
.openFile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}
.openFileButton {
    margin-top:0.2rem;
    margin-bottom:0.6rem;
    padding:0.6rem 3rem;
    color: rgb(99, 109, 126);
    border-radius:30px;
    box-shadow:0px 0px 5px lightgray;
    animation: openFile 3s;
}
.openFileButton:hover {
    color:red;
}
.bookmarkBox.focus .importTeacher {
    display:block;
}



.submitImportContainer {
    display:none;
}
.bookmarkHead {
    font-size:26px;
    color:rgba(99, 109, 126, 0.8);
    height:auto;
    width:auto;
    text-align:left;
}
.bookmarkCancel {
    position:absolute;
    top:0rem;
    right:0rem;
    width:3.4rem;
    height:auto;
    box-shadow:none;
    padding:20px;
}
.bookmarkCancel:hover {
    width:3.6rem;
}
.selectAll {
    margin-top:1.2rem;
    width:50%;
    font-size:18px;
    color:rgba(99, 109, 126, 0.8);
    border-right: 1px solid rgba(99, 109, 126, 0.8);
    cursor:pointer;
    transition:0.5s;
}
.selectAll:hover {
    letter-spacing:1px;
    color:rgba(64, 127, 230, 0.8);
}
.confirmBookmark {
    width:50%;
    font-size:18px;
    color:rgba(99, 109, 126, 0.8);
    cursor:pointer;
    transition:0.5s;
}
.confirmBookmark:hover {
    letter-spacing:1px;
    color:rgba(64, 127, 230, 0.8);
}
.bookmarkList {
    margin-top:1.2rem;
    border-top:thin solid rgba(99, 109, 126, 0.8);
}
.itemContainer {
    position:relative;
    color:rgb(89, 98, 114);
    border-bottom: thin solid rgba(99, 109, 126, 0.8);
    text-align:left;
    transition:0.5s;
}
.bookmarkCheck {
    position:absolute;
    top:38%;
    left:0;
    cursor:pointer;
}
.bookmarkItem {
    padding:0.6rem 0;
    display:block;
    text-align:left;
    list-style:none;
    margin-left:10%;
    cursor:pointer;
    transition:0.3s;
}
.itemContainer:hover .bookmarkItem {
    color:rgba(64, 127, 230, 0.8);
}
.bookmarkBox.active .submitImportContainer {
    display:block;
}
.bookmarkBox::-webkit-scrollbar {
    width:7px;
    height:3px;
    left:10px;
    border-left:0;
    background:rgba(0,0,0,0.1);
}
.bookmarkBox::-webkit-scrollbar-track {
    margin-right:-10px;
    background:whitesmoke;
}
.bookmarkBox::-webkit-scrollbar-thumb {
    background:rgba(99, 109, 126, 0.8);
    border-radius:20px;
}

@keyframes stepSlide {
    0% {
        opacity:0;
        margin-left:-20rem;
    } 25% {
        opacity:0;
    } 100% {
        opacity:1;
        margin-left:0;
    }
}

@keyframes headerBottom {
    from {
        width:0rem;
    } to {
        width:18.7rem;
    }
}

@keyframes openFile {
    0% {
        opacity:0;
        padding:0;
    } 50% {
        opacity:0;
        padding:0;
    } 100% {
        opacity:1;
        padding:0.6rem 3rem;
    }
}