.linkForm {
    pointer-events:none;
}
.linkFormDiv {
    position: fixed;
    text-align:center;
    padding-top:0px;
    box-sizing:content-box;
    width: 340px;
    height:60%; max-height:570px;
    left: calc(50% - 170px);
    top:50%;
    overflow-y:auto;
    background-color: rgb(246, 247, 253);
    box-shadow: 0px 0px 20px rgb(114, 114, 114);
    border-radius: 10px;
    transition:transform 0.5s, opacity 0.5s;
    opacity:0;
    transform:scale(1.4) translateY(-100%);
    transform-origin:50% 0%;
    font-family:'Noto Sans JP', sans-serif;
    z-index:9;
}
.linkForm.active {
    pointer-events:all;
}
.linkForm.active .linkFormDiv {
    opacity:1;
    transform:scale(1.4) translateY(-50%);
}

.linkFormDiv::-webkit-scrollbar {
    width:10px; 
    background:none;
}
.linkFormDiv::-webkit-scrollbar-track {
    background:none;
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: none;
}
.linkFormDiv::-webkit-scrollbar-thumb {
    border: 2.5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: #c4d3e9;
}
.linkFormDiv h1 {
    padding-top:25px;
    margin-bottom:10px;
    font-size:30px;
    color:rgb(141, 152, 172);
    letter-spacing:0.5px;
}

.selectTab {
    position:relative;
    top:0;
    left:0;
    width:100%;
    text-align:center;
}
.selectTabChosen {
    position:relative;
    width:auto;
    display:inline-block;
    cursor:pointer;
}
.selectTabText {
    position:relative;
    display:inline-block;
    font-size:15px;
    top:0; left:50%;
    transform:translateX(-50%);
    height:25px; max-width:200px;
    white-space:nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    color:rgb(109, 116, 133);
}
.selectTabChosen:hover .selectTabText{color:rgb(91, 120, 146)}
.selectTabArrow {
    position:relative;
    display:inline-block;
    width:8px; height:8px;
    top:-13px; left:16px;
    border-bottom:2px solid rgb(132, 140, 160);
    border-right:2px solid rgb(132, 140, 160);
    transform:rotateZ(45deg);
    transition:transform 0.5s;
}
.selectTab.active .selectTabArrow {
    transform:translateY(5px) rotateZ(225deg);
}
.selectTabChosen:hover .selectTabArrow {
    border-bottom:2px solid rgb(91, 120, 146);
    border-right:2px solid rgb(91, 120, 146);
    animation: moveArrow 1s linear infinite;
}
.selectTab.active .selectTabChosen:hover .selectTabArrow {
    border-bottom:2px solid rgb(91, 120, 146);
    border-right:2px solid rgb(91, 120, 146);
    animation: moveArrowUp 1s linear infinite;
}
.selectTabDrop {
    position:absolute;
    margin:auto;
    margin-top:5px;
    left:50%; transform:translateX(-50%);
    width:50%;
    white-space:nowrap;
}
.selectTabList {
    position:relative;
    background-color: rgb(246, 250, 255);
    box-shadow: 0 0 10px rgb(216, 237, 255);
    width:100%;
    margin:auto;
    text-align:center;
    list-style: none;
    padding: 0 10px;
    max-height:0px;
    overflow-y:auto;
    transition:max-height 0.5s;
}
.selectTab.active .selectTabList {
    max-height:150px
}
.selectTabItem {
    color:rgb(126, 133, 151);
    font-size:16px;
    border-bottom:thin solid rgb(205, 212, 253);
    padding: 0.3rem 0;
    min-height:2rem;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
}
.selectTabItem:hover {
    color:rgb(130, 171, 204);
}
.selectTabList::-webkit-scrollbar {
    width:0px;
    height:3px;
    left:10px;
    border-left:0;
    background:rgba(0,0,0,0.1);
}
.selectTabList::-webkit-scrollbar-track {
    margin-right:-10px;
    background:whitesmoke;
}
.selectTabList::-webkit-scrollbar-thumb {
    background:rgb(165, 181, 209);
    border-radius:20px;
}

.addLinkCancel {
    position:absolute;
    top:6px;
    right:0px;
    box-shadow:none;
    padding:13px;
    width:44px;
    height:auto;
}
.addLinkCancel:hover {
    transform:scale(1);
}

.linkFormDiv label {
    color:rgb(141, 152, 172);
    margin-left: 8%;
    float:left;
    letter-spacing:0.5px;
}
.linkFormDiv input[type=text] {
    width: 83%;
    padding: 8px;
    margin:auto;
    margin-bottom:25px;
    border: none;
    border-bottom:1px solid rgba(99, 109, 126, 0.8);
    background: none;
    font-size: large;
    color:rgba(86, 95, 110, 0.8);
}
.linkFormDiv input:focus {
    outline:none;
}
.errMsg {
    position:absolute;
    display:none;
    color:rgb(141, 0, 0);
    top:102px;
    right:0rem;
    width:220px;
    font-size:13px;
    pointer-events:none;
}

.suggestionWrapper {
    position:fixed;
    pointer-events:none;
    top:clamp(440px, 50%, 1000px); left:50%; 
    transform:translate(-50%, -50%);
    margin: -80px 0 0 450px;
    width:380px;
    background-color: rgb(246, 247, 253);
    border-radius:10px;
    transition:opacity 0.5s, transform 0.5s;
    opacity:0;
    z-index:9;
}
.linkForm.active .suggestionWrapper {
    pointer-events:all;
    opacity:1;
}
#suggestiontitlewrapper, #suggestiontitlewrapper2 {
    margin-top:-200px;
}
.suggestionLink,
.suggestionTitle {
    position:relative;
    text-align:left;
    vertical-align:middle;
    line-height:40px;
    color:rgb(89, 96, 109);
    border-bottom: thin solid rgba(141, 152, 172, 0.328);
    padding: 14px 0;
    padding-right:45px;
    width:90%;
    font-size:21px;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
    cursor:pointer;
}
.suggestionLink:focus,
.suggestionLink:hover,
.suggestionTitle:focus,
.suggestionTitle:hover {
    color:rgb(85, 114, 168);
}
.suggestionImg {
    position:absolute;
    display:inline-table;
    float:right;
    box-shadow:none;
    width:40px;
    height:40px;
    right:3px;
}
.suggestionTitle:hover .suggestionImg,
.suggestionLink:hover .suggestionImg {
    transform:scale(1.1);
}

.imgContainer {
    display:inline-block;
    text-align:center;
    margin:2% 7% 4% 7%;
    width:80px;
    height:105px;
    border:none;
    cursor:pointer;
}
.imgContainer .defaultImg {
    overflow:hidden;
    position:relative;
    width:80px;
    height:80px;
    border-radius:10px;
    border:none;
}
.imgContainer .defaultImg img {
    position:relative;
    width:82px;
    height:82px;
    right:0%;
    top:-1.8%;
}
.imgContainer .imgLabel {
    position:relative;
    text-align:center;
    display:inline;
    top:2px;
    color:rgb(141, 152, 172);
    pointer-events:none;
}
.imgContainer.active .imgLabel {
    color:rgba(87, 125, 190, 0.8);
    border-bottom:thin solid rgba(87, 125, 190, 0.8);
}

.imageAddress {
    cursor:pointer;
}
.imageAddress.active {
    color:rgba(87, 125, 190, 0.8);
    text-decoration: underline;
}
.clearImg {
    position:absolute;
    margin-left:-42px;
    margin-top:-21px;
    font-size:14px;
    letter-spacing:0.5px;
    padding:4px;
    color:gray;
    cursor:pointer;
}
.clearImg:hover {
    text-decoration: underline;
}

#orLinkText, #orLinkTextEdit {
    float:none;
    margin:auto;
}

.linkFormDiv button.submit {
    position:relative;
    top:0px;
    background: rgb(246, 247, 253);
    color: rgba(99, 109, 126, 0.8);
    border:none;
    border-radius:18px;
    box-shadow:3px 3px 5px rgba(179, 183, 189, 0.8);
    padding: 6px 18px;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 14px;
    transition:color 0.5s, padding 0.5s, letter-spacing 0.5s;
    margin-bottom:20px;
}

.linkFormDiv button.submit:hover {
    color: rgb(26, 51, 122);
    cursor:pointer;
    padding:6px 100px;
}

.linkFormDiv button.submit:focus {
    outline:none;
}

.linkImgForm {
    position:absolute;
    top:15px;
    right:15px;
    box-shadow:none;
    width:15px;
    height:auto;
}

.addFile {
    position:absolute;
    top:0; left:0;
    width:80px;
    height:80px;
    border-radius:8px;
    font-size:0;
    z-index:10;
    cursor:pointer;
  }

.previewBox {
    position:fixed;
    width:120px;
    height:120px;
    background-color: rgb(246, 247, 253);
    box-shadow: 0 0 10px rgb(246, 247, 253);
    border-radius:10px;
    margin-left:300px;
    top:64%; left:50%;
    transform:translateX(0px);
    opacity:0;
    transition:transform 0.5s, opacity 0.5s;
    z-index:9;
    pointer-events:none;
}
.linkForm.active .previewBox {
    transform:translateX(-45px);
}
.previewBox img {
    height:100%; width:100%;
    box-shadow:none;
    opacity:0;
}
.previewBox.active {
    transform:translateX(-45px);
    opacity:1;
}
.previewBox.active img {
    opacity:1;
}

.addFile::-webkit-file-upload-button {
    visibility: hidden;
  }

.addFile::before {
    content: none;
  }

.addFile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
}

@keyframes moveArrow {
    0% {
        transform:translateY(0) rotateZ(45deg);
    } 25% {
        transform:translateY(-2px) rotateZ(45deg);
    } 50% {
        transform:translateY(0) rotateZ(45deg);
    } 75% {
        transform:translateY(2px) rotateZ(45deg);
    } 100% {
        transform:translateY(0) rotateZ(45deg);
    }
}

@keyframes moveArrowUp {
    0% {
        transform:translateY(5px) rotateZ(225deg);
    } 25% {
        transform:translateY(7px) rotateZ(225deg);
    } 50% {
        transform:translateY(5px) rotateZ(225deg);
    } 75% {
        transform:translateY(3px) rotateZ(225deg);
    } 100% {
        transform:translateY(5px) rotateZ(225deg);
    }
}

@media (max-width: 1300px) {
    .suggestionWrapper {
        width:260px;
        margin-left:385px;
    }
    .suggestionLink,
    .suggestionTitle {
        padding-right:5px;
        width:90%;
        font-size:21px;
    }
    .suggestionImg {
        display:none;
    }
}

@media (max-width: 1040px) {
    .suggestionList {
        display:none;
    }
}

@media (max-width:790px) {
    .previewBox {
        display:none;
    }
}

@media (max-height:600px) {
    .previewBox {
        top:50%;
    }
}

@media (max-height:540px) {
    .suggestionLink {
        display:none;
    }
}

@media (max-height:440px) {
    .suggestionTitle {
        display:none;
    }
}

@media (max-width:450px) {
    .linkFormDiv {
        height:100%; max-height:570px;
        transform:scale(0.9) translateY(-100%);
    }
    .linkForm.active .linkFormDiv {
        transform:scale(0.9) translateY(-50%);
    }

    .addLinkCancel {
        right:15px;
    }

    .suggestionList {
        display:none;
    }
    .previewBox {
        display:none;
    }
}