.addForm {
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    padding:20px;
    padding-top:0px;
    box-sizing:content-box;
    width: 300px;
    min-height:530px;
    left: calc(50% - 170px);
    top: -600px;
    background-color: rgb(246, 247, 253);
    box-shadow: 0 0 0 rgb(246, 247, 253);
    z-index: 11;
    border-radius: 10px;
    transition:box-shadow 0.8s ease-in 0.3s, top 0.5s, opacity 0.5s, background-color 1s;
    opacity:0;
    font-family:'Noto Sans JP', sans-serif;
}
.addForm.active {
    top: calc(50% - 265px);
    opacity: 1;
    box-shadow: 0px 0px 20px rgb(114, 114, 114);
}

.addForm h1 {
    padding-top:20px;
    margin-bottom:40px;
    font-size:30px;
    color:rgb(141, 152, 172);
    letter-spacing:0.5px;
}

.selectTab {
    position:absolute;
    top:4.5rem;
    left:0;
    width:100%;
}
.selectTabChosen {
    position:relative;
    display:flex;
    width:80%;
    left:10%;
    overflow:hidden;
    transition:0.5s;
    cursor:pointer;
}
.selectTabText {
    position:relative;
    margin:auto;
    font-size:15px;
    top:0;
    height:25px;
    white-space:nowrap;
    text-overflow: ellipsis;
    color:rgb(109, 116, 133);
    transition:0.5s;
}
.selectTabChosen:hover .selectTabText{color:rgb(91, 120, 146)}
.selectTabArrow {
    position:relative;
    text-align:left;
    display:inline-table;
    width:8px;
    height:8px;
    top:-0.2rem;
    left:0.7rem;
    border-bottom:2px solid rgb(132, 140, 160);
    border-right:2px solid rgb(132, 140, 160);
    transform:rotateZ(45deg);
    transition:0.5s;
}
.selectTab.active .selectTabArrow {
    top:0.05rem;
    transform:rotateZ(225deg);
}
.selectTabChosen:hover .selectTabArrow {
    border-bottom:2px solid rgb(91, 120, 146);
    border-right:2px solid rgb(91, 120, 146);
    animation: moveArrow 1s linear infinite;
}
.selectTab.active .selectTabChosen:hover .selectTabArrow {
    border-bottom:2px solid rgb(91, 120, 146);
    border-right:2px solid rgb(91, 120, 146);
    animation: moveArrowUp 1s linear infinite;
}
.selectTabDrop {
    margin:auto;
    margin-top:0.3rem;
    width:50%;
    white-space:nowrap;
}
.selectTabList {
    background-color: rgb(246, 250, 255);
    box-shadow: 0 0 10px rgb(216, 237, 255);
    width:100%;
    margin:auto;
    text-align:center;
    list-style: none;
    padding: 0 10px;
    max-height:0px;
    overflow-y:auto;
    transition:0.5s;
}
.selectTab.active .selectTabList {max-height:150px}
.selectTabItem {
    color:rgb(126, 133, 151);
    font-size:16px;
    border-bottom:thin solid rgb(205, 212, 253);
    padding: 0.3rem 0;
    overflow:hidden;
    text-overflow:ellipsis;
    transition:0.3s;
    cursor:pointer;
}
.selectTabItem:hover {
    color:rgb(130, 171, 204);
}
.selectTabList::-webkit-scrollbar {
    width:0px;
    height:3px;
    left:10px;
    border-left:0;
    background:rgba(0,0,0,0.1);
}
.selectTabList::-webkit-scrollbar-track {
    margin-right:-10px;
    background:whitesmoke;
}
.selectTabList::-webkit-scrollbar-thumb {
    background:rgb(165, 181, 209);
    border-radius:20px;
}

.addLinkCancel {
    position:absolute;
    top:0px;
    right:0px;
    box-shadow:none;
    padding:20px;
    width:3.4rem;
    height:auto;
}
.addLinkCancel:hover {
    width:3.6rem;
}

.addForm input[type=text] {
    width: 95%;
    padding: 8px;
    margin-bottom:25px;
    border: none;
    border-bottom:1px solid rgba(99, 109, 126, 0.8);
    background: none;
    font-size: large;
    color:rgba(86, 95, 110, 0.8);
}

.addForm input:focus {
    outline:none;
}

.errMsg {
    position:absolute;
    display:none;
    color:rgb(141, 0, 0);
    top:5.6rem;
    right:0rem;
    width:220px;
    font-size:13px;
    pointer-events:none;
}

.addForm label {
    color:rgb(141, 152, 172);
    margin-left: 2%;
    float:left;
    transition:1s;
    letter-spacing:0.5px;
}

.suggestionList {
    position:absolute;
    background-color: rgb(246, 247, 253);
    left:105%;
    top:35%;
    width:80%;
    border-radius:10px;
    z-index:1;
    transition:1s;
}
.suggestionLink {
    text-align:left;
    vertical-align:middle;
    line-height:40px;
    color:rgb(89, 96, 109);
    border-bottom: thin solid rgba(141, 152, 172, 0.328);
    padding: 0.4rem 0;
    padding-right:40px;
    width:90%;
    transition:0.5s;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
    cursor:pointer;
}
.suggestionLink:focus,
.suggestionLink:hover {
    color:rgb(85, 114, 168);
    letter-spacing:0.5px;
}
.suggestionTitle {
    text-align:left;
    vertical-align:middle;
    line-height:40px;
    color:rgb(89, 96, 109);
    border-bottom: thin solid rgba(141, 152, 172, 0.328);
    padding: 0.4rem 0;
    padding-right:40px;
    width:90%;
    transition:0.5s;
    text-overflow:ellipsis;
    white-space: nowrap;
    overflow:hidden;
    cursor:pointer;
}
.suggestionTitle:focus,
.suggestionTitle:hover {
    color:rgb(85, 114, 168);
    letter-spacing:0.5px;
}
.suggestionImg {
    position:absolute;
    display:inline-table;
    float:right;
    box-shadow:none;
    width:30px;
    height:30px;
    margin-top:5px;
    right:0.8rem;
}
.suggestionTitle:hover .suggestionImg,
.suggestionLink:hover .suggestionImg {
    transform:scale(1.2);
}

.imgContainer {
    display:inline-block;
    text-align:center;
    margin:2% 7% 4% 7%;
    width:80px;
    height:105px;
    border:none;
    cursor:pointer;
}

.imgContainer .defaultImg {
    width:80px;
    height:80px;
    border-radius:10px;
    border:none;
}

.imgContainer .defaultImg img {
    position:relative;
    width:82px;
    height:82px;
    right:0%;
    top:-1.8%;
}

.imgContainer .imgLabel {
    position:relative;
    text-align:center;
    display:inline;
    top:2px;
    color:rgb(141, 152, 172);
    pointer-events:none;
}

.imgContainer.active .imgLabel {
    color:rgba(87, 125, 190, 0.8);
    border-bottom:thin solid rgba(87, 125, 190, 0.8);
}

.imageAddress {
    cursor:pointer;
}
.imageAddress.active {
    color:rgba(87, 125, 190, 0.8);
    text-decoration: underline;
}
.clearImg {
    position:absolute;
    margin-left:-2.9rem;
    margin-top:-1.3rem;
    font-size:14px;
    letter-spacing:0.5px;
    padding:4px;
    color:gray;
    cursor:pointer;
}
.clearImg:hover {
    text-decoration: underline;
}

.addForm button.submit {
    position:relative;
    top:0px;
    background: rgb(246, 247, 253);
    color: rgba(99, 109, 126, 0.8);
    border:none;
    border-radius:18px;
    box-shadow:3px 3px 5px rgba(179, 183, 189, 0.8);
    padding: 6px 18px;
    font-family:'Noto Sans JP', sans-serif;
    font-size: 14px;
    transition:0.5s;
}

.addForm button.submit:hover {
    color: rgb(26, 51, 122);
    cursor:pointer;
    padding:6px 100px;
}

.addForm button.submit:focus {
    outline:none;
}

.linkImgForm {
    position:absolute;
    top:15px;
    right:15px;
    box-shadow:none;
    width:15px;
    height:auto;
}

.addFile {
    position:absolute;
    right:68px;
    width:80px;
    height:80px;
    border-radius:8px;
    font-size:0;
    z-index:10;
    cursor:pointer;
  }

.previewBox {
    position:absolute;
    width:90px;
    height:90px;
    background-color: rgb(246, 247, 253);
    box-shadow: 0 0 10px rgb(246, 247, 253);
    border-radius:10px;
    margin-left:25rem;
    margin-top:-6rem;
    opacity:0;
    transition:0.5s;
    z-index:-1;
}
.previewBox img {
    box-shadow:none;
    opacity:0;
}
.imgAddressInput:focus + .previewBox {
    margin-left:21rem;
    opacity:1;
}
.imgAddressInput:focus + .previewBox img {
    opacity:1;
}

.addFile::-webkit-file-upload-button {
    visibility: hidden;
  }

.addFile::before {
    content: none;
  }

.addFile:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); 
  }

@keyframes moveArrow {
    0% {
        top:-0.2rem;
    } 25% {
        top:-0.35rem;
    } 50% {
        top:-0.2rem;
    } 75% {
        top:-0.05rem;
    } 100% {
        top:-0.2rem;
    }
}

@keyframes moveArrowUp {
    0% {
        top:0.05rem;
    } 25% {
        top:-0.1rem;
    } 50% {
        top:0.05rem;
    } 75% {
        top:0.2rem;
    } 100% {
        top:0.05rem;
    }
}