  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(249, 251, 253);
  }

  main {
    padding: 5rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .title {
    margin: 0;
    width:auto;
    height:auto;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
    padding-bottom:3rem;
  }

  input {
      width:80%;
      padding: 6px 2%;
      font-size: 16px;
      font-family:'Noto Sans JP', sans-serif;
      border: none;
      border-radius:30px;
      box-shadow:3px 3px 6px rgb(215, 219, 228);
      transition:0.5s;
  }

  input:focus {
      outline:none;
      box-shadow:3px 3px 10px rgb(152, 185, 255);
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(165, 165, 165);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(165, 165, 165);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(165, 165, 165);
  }

  .buttonNav {
    width:80%;
    height:30px;
    margin-top: 3.5rem;
    text-align:center;
  }

  i {
    position:absolute;
    padding:8px 40px;
    color:rgb(182, 182, 182);
    cursor:pointer;
    transition:0.5s;
  }

  i:focus,
  i:hover {
      outline:none;
      color:blue;
      font-size:20px;
  }

  button {
      text-align:center;
      width:25%;
      min-width:150px;
      padding:6px 40px;
      font-size:15px;
      border:none;
      border-bottom:0px solid white;
      border-bottom-width:0px;
      background-color:transparent;
      font-family:'Noto Sans JP', sans-serif;
      cursor:pointer;
      transition:0.3s;
  }

  button:active,
  button:focus,
  button:hover {
      outline:none;
      border-bottom:thin solid;
      border-bottom-width:4px;
  }

  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    max-width: 800px;
    margin-top: 2rem;
  }

  a:hover img {
    box-shadow:3px 3px 10px rgb(49, 168, 248);
    width:95px;
    height:95px;
  }

  img {
      width:90px;
      height:90px;
      margin:30px;
      margin-bottom:0px;
      box-shadow:3px 3px 10px gray;
      cursor:pointer;
      transition:0.5s;
  }

  p {
    color:black;
    font-family:'Noto Sans JP', sans-serif;
    text-align:center;
    margin-top:6px;
    width:150px;
    height:50px;
    font-size:15px;
    overflow:hidden;
    text-overflow:ellipsis;
  }

  .addLink {
      width:200px;
      height:35px;
      box-shadow:3px 3px 5px rgb(195, 195, 195);
      border-radius:30px;
      font-size:15px;
      color:rgb(87, 87, 87);
  }

  .addLink .addSlider {
    width:200px;
    height:35px;
    box-shadow:3px 3px 5px rgb(195, 195, 195);
    border-radius:30px;
    font-size:30px;
    color:rgb(87, 87, 87);
    text-align:right;
  }

  footer {
    width: 100%;
    height: 50px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  footer img {
    margin-left: 0.5rem;
  }

  footer a {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .logo {
    height: 1em;
  }

/*Responsive browser for Desktop: Window width re-size*/
  @media (max-width:761px) {
    .grid {
        max-width:400px;
    }

    .buttonNav {
        width:400px;
    }
  }
/*Responsive browser for Mobile: Portrait Orientation*/
@media screen and (max-width: 479px) and (orientation: portrait) {
.grid {
        max-width:400px;
    }
	
.buttonNav {
        width:400px;
    }
}
/*Responsive browser for Mobile: Landscape Orientation*/
/*@media screen and (max-width: 479px) and (orientation: landscape) {
/*.grid {
        max-width: device-width;
		padding: 3rem 0;
    }	
.buttonNav {
        width:400px;
    }
}*/
