  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
  }

  .container {
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background-color:rgb(249, 251, 253);
    transition:0.8s;
  }

  main {
    height:100vh;
    padding: 0 0;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align:center;
    overflow-x:hidden;
  }

  .shadow {
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 0%;
    background-color: black;
    opacity: 0;
    clear:both;
    top:0px;
    transition:0.4s;
  }

  .title {
    position:relative;
    padding-top:14vh;
    padding-bottom:3rem;
    margin: 0;
    width:auto;
    height:auto;
    line-height: 1.15;
    font-size: 4rem;
    text-align: center;
    animation:titleSlide 3s;
  }

  .letter {
    font-family:'Segoe UI', sans-serif;
    margin-right:4px;
    transition:0.8s;
  }

  .letter:nth-child(1) { animation:fadeIn 0.4s; }
  .letter:nth-child(2) { animation:fadeIn 0.8s; }
  .letter:nth-child(3) { animation:fadeIn 1.2s; }
  .letter:nth-child(4) { animation:fadeIn 1.5s; }
  .letter:nth-child(5) { animation:fadeIn 1.8s; }
  .letter:nth-child(6) { animation:fadeIn 2s; }

  .bodyBox {
    animation: bodyFade 5s;
  }

  .profilePic {
    position:fixed;
    text-align:right;
    z-index:5;
    height:62px;
    width:160px;
    padding:10px;
    border:none;
    background-color:rgb(249, 251, 253);
    border-radius:20px;
    box-shadow:0px 0px 15px rgb(249, 251, 253);
    top:20px;
    right:15px;
    cursor:pointer;
    transition:0.8s;
  }

  .profilePic img {
    position:relative;
    border-radius:30px;
    box-shadow:none;
    width:45px;
    height:auto;
    margin:0;
  }

  .profilePic p {
    position:relative;
    display:inline;
    bottom:20px;
    padding-right:15px;
    font-size:16px;
    transition:0.5s;
  }

  .profilePic:hover p {
    font-size:17px;
  }

  .modBox {
    position:fixed;
    text-align:center;
    top:90px;
    right:22px;
    width:50px;
    height:50px;
    z-index:3;
  }
  .modBtn {
    position:relative;
    display:inline-block;
    width: 100%;
    height:100%;
    border-radius:100px;
    background:rgb(249, 251, 253);
    box-shadow:3px 3px 5px rgb(156, 156, 156);
    transition:0.3s;
    cursor:pointer;
  }
  .modBox:nth-child(3):hover .modBtn {
    background:rgb(216, 236, 255);
    height:105%;
    width:105%;
  }
  .modBox:nth-child(4):hover .modBtn {
    background:rgb(255, 239, 239);
    height:105%;
    width:105%;
  }
  .modImg {
    position:relative;
    width:26px;
    height:auto;
    margin:auto;
    top:2px;
    box-shadow:none;
  }
  .modText {
    position:absolute;
    display:none;
    text-align:right;
    padding:10px;
    width:150px;
    height:auto;
    margin:0;
    right:55px;
    top:5px;
    transition:0.5s;
  }
  .modText:hover {
    font-size:15px;
    color:rgb(30, 91, 235);
  }
  .modBox.active .modText {
    display:block;
  }
  .modBox.focus .modText {
    display:block;
  }

  .searchBar {
    position:relative;
    width:80%;
    max-width:800px;
    min-width:200px;
    padding: 6px 18px;
    font-size: 16px;
    font-family:'Noto Sans JP', sans-serif;
    border: none;
    border-radius:30px;
    box-shadow:3px 3px 6px rgb(215, 219, 228);
    transition:0.5s;
  }

  .searchBar:focus {
    outline:none;
    box-shadow:3px 3px 10px rgb(152, 185, 255);
  }

  .searchBar:focus .buttonNav {
    background-color:black;
  }

  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(165, 165, 165);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(165, 165, 165);
  }

  ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(165, 165, 165);
  }

  .buttonNav {
    position:relative;
    display:inline-flex;
    margin-top: 2.5rem;
    text-align:center;
  }

  .navBtns {
    position:relative;
    text-align:center;
    width:180px;
    margin:6px 10px 0px 10px;
    font-size:15px;
    border:none;
    border-bottom:0px solid;
    text-shadow:1px 1px 2px gray;
    background-color:transparent;
    font-family:'Noto Sans JP', sans-serif;
    overflow:hidden;
    text-overflow:ellipsis;
    cursor:pointer;
    transition:0.1s;
  }

  .navBtnText {
    display:inline;
  }

  .navBtnBottom {
    height:2px;
    margin-left:10%;
    width:0%;
    transition:0.5s;
    box-shadow: 0px 0px 1px gray;
  }
  .navBtns:hover .navBtnBottom,
  .navBtns.active .navBtnBottom {
    width:80%;
  }

  .signIn {
    position:fixed;
    top:0.8rem;
    right:0rem;
  }

  .signIn:after {
    margin-left:30px;
  }

  .leftTabArrow {
    position:absolute;
    top:-0.4rem;
    left:-2.4rem;
    padding:1rem;
    height:44px;
    width:40px;
    box-shadow:none;
    opacity:1;
    pointer-events:all;
  }
  .rightTabArrow {
    position:absolute;
    top:-0.4rem;
    right:-2.4rem;
    padding:1rem;
    height:44px;
    width:40px;
    box-shadow:none;
    transform:rotateZ(180deg);
    pointer-events:all;
  }
  .leftTabArrow.active,
  .rightTabArrow.active {
    opacity:0;
    pointer-events:none;
  }

  .leftLinkArrow {
    position:absolute;
    top:5rem;
    left:-5rem;
    padding:2rem;
    height:82px;
    width:76px;
    box-shadow:none;
    pointer-events:all;
  }
  .rightLinkArrow {
    position:absolute;
    top:5rem;
    right:-5rem;
    padding:2rem;
    height:82px;
    width:76px;
    box-shadow:none;
    transform:rotateZ(180deg);
    pointer-events:all;
  }

  .grid {
    position:relative;
    display:inline-flex;
    text-align:center;
    justify-content: center;
    flex-wrap: wrap;
    pointer-events:all;

    width: 800px;
    margin-top: 2rem;
  }
  .grid.active,
  .grid.focus {
    pointer-events:none;
  }

  .linkBox {
    position:relative;
    z-index:1;
  }

  .linkBox:hover img {
    box-shadow:0px 0px 10px rgb(49, 168, 248);
  }

  .linkCheckBox {
    position:absolute;
    width:0px;
    right:0px;
    opacity:0;
    zoom:1.4;
    pointer-events:none;
    transition:1s ease-out;
    transform:rotateZ(0deg);
  }
  .grid.active .linkCheckBox {
    width:13px;
    opacity:1;
    cursor:pointer;
    pointer-events:all;
    transform:rotateZ(720deg);
  }
  .grid.active .linkBox:hover img {
    box-shadow:3px 3px 10px rgb(255, 203, 203);
  }
  .openTabEdit {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
  }
  .navBtns .trashTab {
    position:absolute;
    top:0px;
    right:10px;
    margin:0;
    padding:0;
    width:0;
    height:0;
    opacity:0;
    background:rgb(251, 251, 251);
    box-shadow:1px 1px 1px gray;
    border-radius:100px;
    pointer-events:none;
    transition:1s;
    z-index:4;
  }
  .trashTab:hover {
    background:lightgray;
  }
  .buttonNav.active .trashTab {
    width:23px;
    height:23px;
    padding:4px;
    opacity:1;
    pointer-events:all;
    transform:rotateZ(720deg);
  }
  .buttonNav.focus .navBtns {
    animation: pulseFont 1s infinite;
  }
  .buttonNav.focus .openTabEdit {
    pointer-events:all;
  }

  .editDiv {
    pointer-events:none;
  }
  .grid.active .editDiv {
    pointer-events:none;
  }
  .grid.focus .editDiv {
    pointer-events:auto;
  }

  img {
      width:90px;
      height:90px;
      margin:auto;
      box-shadow:0px 0px 10px gray;
      cursor:pointer;
      transition:0.5s;
      border-radius:10px;
  }
  .grid.focus .linkBox img {
    animation: pulse 2s infinite linear;
  }

  p {
    color:black;
    font-family:'Noto Sans JP', sans-serif;
    text-align:center;
    margin-top:6px;
    width:150px;
    padding:0 6px;
    height:50px;
    font-size:14px;
    overflow:hidden;
    text-overflow:ellipsis;
    color:rgb(75, 75, 75);
  }

  .linkNames {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  /* Number of lines displayed before it truncate */
    height:40px;
    margin-bottom:20px;
    overflow: hidden;
  }

  .addContainer {
    position:relative;
    display:inline-flex;
    width:200px;
    height:35px;
    margin-top:10px;
    cursor:pointer;
    text-align:left;
  }

  .addLink {
    position:absolute;
    text-align:center;
    width:200px;
    height:35px;
    box-shadow:3px 3px 5px rgb(195, 195, 195);
    border:none;
    border-radius:30px;
    font-size:15px;
    font-family:'Noto Sans JP', sans-serif;
    cursor:pointer;
    transition:0.8s;
    color:rgb(87, 87, 87);
    background:white;
    z-index:2;
  }

  .addSlider {
    position:absolute;
    width:200px;
    height:35px;
    box-shadow:3px 3px 5px rgb(195, 195, 195);
    border-radius:30px;
    font-size:30px;
    color:rgb(87, 87, 87);
    text-align:right;
    transition:0.5s;
  }

  .addSlider img {
    position:relative;
    width:15px;
    height:auto;
    box-shadow:none;
    color:white;
    margin-right:3.7%;
    top:-5%;
    transition:0.8s;
  }

  .addContainer:hover .addSlider {
    background:rgb(230, 230, 230);
    width:230px;
  }

  .addLink:active,
  .addLink:focus,
  .addLink:hover {
    outline:none;
    border-bottom:none;
  }

  .loader {
    position:absolute;
    display:none;
    top:21.5%;
    left:41%;
    width:40px;
    height:40px;
    transform-origin:33% 33%;
    grid-template-columns:1fr 1fr;
    animation: loader 2s infinite;
    z-index:-1;
  }
  .dot {
    height:30%;
    width:30%;
    animation:dotloader 4s infinite;
  }
  .dot:nth-child(1) { background-color:green}
  .dot:nth-child(2) { background-color:yellow}
  .dot:nth-child(3) { background-color:blue}
  .dot:nth-child(4) { background-color:red}


  footer {
    position:relative;
    width:100%;
    top:5rem;
    margin-bottom:1.5rem;
    pointer-events:none;
  }

  @keyframes titleSlide {
    0% {
      padding-top:40vh;
    }
    50% {
      padding-top:40vh;
    }
    100% {
      padding-top:14vh;
    }
  }

  @keyframes bodyFade {
    0% {
      opacity:0;
      pointer-events:none;
      position:fixed;
    }
    50% {
      opacity:0;
      pointer-events:none;
      position:fixed;
    }
    52% {
      opacity:0;
      position:relative;
    }
    100% {
      opacity:1;
      pointer-events:all;
      position:relative;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      filter:blur(100px);
      margin-right:40px;
    } to {
      opacity: 1;
      filter:blur(0px);
      margin-right:4px;
    }
  }

  @keyframes linkBox {
    0% {
      opacity: 0;
      transform:rotateY(180deg);
      filter:blur(20px);
    }
    20% {
      opacity: 0;
      filter:blur(10px);
    }
    100% {
      opacity: 1;
      transform:rotateY(0deg);
      filter:blur(0px);
    }
  }

  @keyframes pulse {
    0% {
      transform:rotateY(0deg);
      box-shadow:0px 0px 10px gray;
    }
    25% {
      transform:rotateY(30deg);
      box-shadow:0px 0px 15px rgb(162, 211, 243);
      }
    50% {
      transform:rotateY(0deg);
      box-shadow:0px 0px 10px gray;
    }
    75% {
      transform:rotateY(-30deg);
      box-shadow:0px 0px 15px rgb(162, 211, 243);
    }
    100% {
      transform:rotateY(0deg);
      box-shadow:0px 0px 10px gray;
    }
  }

  @keyframes pulseFont {
    0% {
      text-shadow: 0px 0px 1px gray;
    }
    50% {
      text-shadow: 0px 0px 5px rgb(0, 0, 0);
      }
    100% {
      text-shadow: 0px 0px 1px gray;
    }
  }

  @keyframes nightSwitch {
    from {
      opacity: 0;
    } to {
      opacity: 1;
    }
  }

  @keyframes loader {
    0% {
      transform:rotateZ(0);
    }
    100% {
      transform:rotateZ(1080deg);
    }
  }

  @keyframes dotloader {
    0% {
      border-radius:0%;
    }
    50% {
      border-radius:100%;
    }
    100% {
      border-radius:0%;
    }
  }

  @media (max-width:790px) {
    .grid {
        max-width:400px;
    }
    .buttonNav {
      width:400px;
      margin-bottom:30px;
    }
  }