  * {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
  }

  p, img, div, h1 {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
  }

  .container {
    min-height:100vh;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align:center;
    background:rgb(232, 238, 247);
  }
  /* body::-webkit-scrollbar {
    width:20px; 
    background:rgb(232, 238, 247);
  }
  body::-webkit-scrollbar-track {
    background:rgb(232, 238, 247);
    background-clip: padding-box;
    background-color: rgb(196, 211, 233);
  }
  body::-webkit-scrollbar-thumb {
    border: 5px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: white;
  } */

  .theme {
    display:none;
    position:fixed;
    object-fit: cover;
    height:100%;
    width:100%;
    cursor:default;
    border-radius:0;
    animation: blurIn 2.5s;
    pointer-events:none;
  }

  main {
    height: 100%;
    padding: 0;
    flex: 1;
    flex-direction: column;
    align-items: center;
    text-align:center;
    overflow-x:hidden;
    padding-bottom:1.5rem;
  }

  .shadow {
    position: fixed;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0;
    clear:both;
    top:0px;
    transition:opacity 0.4s, transform 0.4s;
    transform:translateY(-100%);
  }
  .shadow.active {
    opacity: 0.4;
    transform:translateY(0%);
  }

  .title {
    position:fixed;
    display:flex;
    flex-wrap: wrap;
    height:100%; width:100%;
    font-size: 120px;
    opacity:1;
    background:rgb(232, 238, 247);
    transition:0.8s;
    z-index:9999;
    pointer-events:all;
  }
  .title.hide {
    animation:titleFade 2s;
    opacity:0;
    pointer-events:none;
  }
  .titleWrapper {
    position:fixed;
    top:50%; left:50%;
    transform:translate(-50%, -50%);
    margin-top:20px;
  }
  .titleLetters {
    position:relative;
    align-self: flex-end;
    width:100%;
  }
  .letter {
    font-family: cosmopolitan,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing:4px;
    transition:0.8s;
    color: rgb(75, 81, 92);
  }
  .letter:nth-child(1) { animation:fadeIn 0.3s; }
  .letter:nth-child(2) { animation:fadeIn 0.6s; }
  .letter:nth-child(3) { animation:fadeIn 0.9s; }
  .letter:nth-child(4) { animation:fadeIn 1.2s; }
  .letter:nth-child(5) { animation:fadeIn 1.5s; }
  .letter:nth-child(6) { animation:fadeIn 1.8s; }
  .titleLoader {
    position:relative;
    align-self:flex-start;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    left:50%; transform:translateX(-50%);
    width:10rem; height:4rem;
    margin-top:10px;
    animation:loadFade 2s;
  }
  .title.hide .titleLoader {
    opacity:0;
    animation:none;
  }
  .titleLoadingDot {
    position:relative;
    display:inline-block;
    text-align:center;
    width:calc(28% * 4 / 10); height:28%;
    margin:4%;
    border-radius:4px;
  }
  .titleLoadingDot {
    background:rgb(75, 81, 92);
    animation:loadUp 1.5s infinite;
  }
  .titleLoadingDot:nth-last-child(-n + 5) {
    background:rgb(232, 238, 247);
    border:2px solid rgb(75, 81, 92);
    animation:loadDown 1.5s infinite;
  }
  .titleLoadingDot:nth-child(1), .titleLoadingDot:nth-child(6) { animation-delay: 0.1s }
  .titleLoadingDot:nth-child(2), .titleLoadingDot:nth-child(7) { animation-delay: 0.2s }
  .titleLoadingDot:nth-child(3), .titleLoadingDot:nth-child(8) { animation-delay: 0.3s }
  .titleLoadingDot:nth-child(4), .titleLoadingDot:nth-child(9) { animation-delay: 0.4s }
  .titleLoadingDot:nth-child(5), .titleLoadingDot:nth-child(10) { animation-delay: 0.5s }
  
  .searchBar {
    position:relative;
    width:clamp(400px, 50%, 840px);
    padding: 10px 28px;
    margin-top:clamp(30px, 3vw, 60px);
    font-size: 19px;
    font-family:'Noto Sans JP', sans-serif;
    color:rgb(140, 148, 160);
    border: none;
    border-radius:30px;
    box-shadow: 7px 7px 7px rgb(200,212,229), -7px -7px 7px rgb(255, 255, 255);
    transition:0.5s;
  }
  .searchBar:focus {
    outline:none;
    box-shadow: 7px 7px 7px rgb(255, 255, 255), -7px -7px 7px rgb(200,212,229);
    transform:scale(1.02);
  }
  .searchBar::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(186, 197, 212);
    opacity: 1; /* Firefox */
  }
  .searchBar:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(186, 197, 212);
  }
  .searchBar::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(186, 197, 212);
  }

  .gridWrapper {
    position:relative;
    left:50%; transform:translateX(-50%);
    max-width:80vw;
    padding-bottom:0vh;
  }

  .buttonNav {
    position:relative;
    display:inline-flex;
    margin-top:clamp(40px, 4vw, 70px);
    text-align:center;
    justify-content:center;
    align-items:flex-end;
    width:100%;
    min-height:77px;
  }
  .navBtns {
    position:relative;
    text-align:center;
    width:180px;
    margin:0 10px;
    padding:6px 0 25px 0;
    border:none;
    text-shadow:0 0 2px gray;
    background-color:rgba(255, 255, 255, 0.363);
    border:3px solid;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    opacity:0.5;
    pointer-events:all;
    cursor:pointer;
    overflow: hidden;
    transform:translateY(0px);
  }
  .navBtnText {
    position:relative;
    display:inline;
    font-family:'Noto Sans JP', sans-serif;
    font-size:19px;
    letter-spacing:0.5px;
    top:0px;
  }
  .navBtnTxtWrapper {
    display:inline-block;
  }
  .navBtns.active {
    border:5px solid;
    transform:translateY(-10px);
    opacity:1;
  }
  .buttonNav.edit .navBtns.active {
    border:3px solid;
    transform:translateY(0px);
    opacity:1;
  }
  .navBtns.active .navBtnText {
    opacity:1;
  }

  .signIn {
    position:fixed;
    top:0.8rem;
    right:0rem;
  }
  .signIn:after {
    margin-left:30px;
  }

  .dropTabBox {
    position:absolute;
    margin-top:-3%;
    left:-11rem;
    width:0rem;
    height:4.1rem;
    background:linear-gradient(to right, rgb(249, 251, 253) 0%,#b6b9d1 100%);
    text-align:right;
    z-index:5;
    opacity:0;
    transition:opacity 0.5s, width 0.5s;
    pointer-events:none;
  }
  .dropTabText {
    position:absolute;
    top:0.3rem;
    right:0.4rem;
    width:70px;
    color: rgb(249, 251, 253);
    text-align:right;
    pointer-events:none;
    transition:opacity 0.5s;
    opacity:1;
  }
  .dropTabBox.active {
    opacity:1;
    width:10rem;
    pointer-events:all;
  }
  .dropTabBox.active .dropTabText {
    opacity:1;
  }
  .dropTabBox.focus {
    width:11rem;
  }

  .leftTabArrow, .rightTabArrow {
    position:absolute;
    left:-25px; top:-5px;
    padding:14px;
    height:50px;
    width:50px;
    box-shadow:none;
    opacity:1;
    transform:scale(1);
    transition:left 0.8s, right 0.8s, opacity 0.5s, transform 0.5s;
    pointer-events:all;
    border-radius:40px;
    box-shadow: 5px 5px 5px rgb(200,212,229), -5px -5px 5px rgb(255, 255, 255);
  }
  .rightTabArrow {
    left:auto; right:-25px;
    transform:rotateZ(180deg) scale(1);
  }
  .leftTabArrow.active,
  .rightTabArrow.active {
    opacity:0;
    pointer-events:none;
  }
  .leftTabArrow.hide {
    transform:scale(0);
    opacity:0;
    pointer-events:none;
  }
  .rightTabArrow.hide {
    transform:rotateZ(180deg) scale(0);
    opacity:0;
    pointer-events:none;
  }
  .buttonNav.edit .leftTabArrow {
    left:-55px;
  }
  .buttonNav.edit .rightTabArrow {
    right:-55px;
  }
  
  .dropLinkBox {
    position:absolute;
    margin-top:-1%;
    left:-11rem;
    width:0rem;
    height:100%;
    background:linear-gradient(to right, rgb(249, 251, 253) 0%,#b6b9d1 100%);
    text-align:right;
    z-index:5;
    opacity:0;
    pointer-events:none;
  }
  .dropLinkText {
    position:absolute;
    top:30%;
    right:0.4rem;
    font-size:16px;
    width:100px;
    color: rgb(249, 251, 253);
    text-align:right;
    pointer-events:none;
    opacity:1;
  }
  .dropLinkBox.active {
    opacity:1;
    width:10rem;
    pointer-events:all;
  }
  .dropLinkBox.active .dropTabText {
    opacity:1;
  }
  .dropLinkBox.focus {
    width:11rem;
  }

  .leftLinkArrow {
    position:absolute;
    top:5rem;
    left:-5rem;
    padding:2rem;
    height:82px;
    width:76px;
    box-shadow:none;
    pointer-events:all;
    opacity:1;
    transform:scale(1);
  }
  .rightLinkArrow {
    position:absolute;
    top:5rem;
    right:-5rem;
    padding:2rem;
    height:82px;
    width:76px;
    box-shadow:none;
    opacity:1;
    transform:rotateZ(180deg) scale(1);
    pointer-events:all;
  }
  .leftLinkArrow.hide {
    transform:scale(0);
    pointer-events:none;
    opacity:0;
  }
  .rightLinkArrow.hide {
    transform:rotateZ(180deg) scale(0);
    pointer-events:none;
    opacity:0;
  }

  .grid {
    position:relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    justify-content: space-between;
    justify-items:center;
    text-align:center;
    margin:auto;

    overflow:hidden;
    overflow-y:auto;
    padding:38px 30px 5px 30px;
    width:100%;
    margin-top: -20px;
    background:rgb(232, 238, 247);
    box-shadow: 7px 7px 7px rgb(200,212,229), -7px -7px 7px rgb(255, 255, 255);
    border-radius:40px;
    z-index:1;
  }
  .grid::after {
    content: "";
    flex:auto;
  }
  .grid::-webkit-scrollbar {
    width:50px; 
    border-radius:50px;
    background:none;
  }
  .grid::-webkit-scrollbar-track {
    background:none;
    border: 16px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(196, 211, 233);
  }
  .grid::-webkit-scrollbar-thumb {
    border: 21px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: white;
  }

  .eraseLabel {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
    cursor:pointer;
  }
  .grid.erase .eraseLabel {
    pointer-events:all;
  }

  .linkBox, .addLinkGridWrapper {
    position:relative;
    margin-bottom:10px;
    z-index:1;
    pointer-events:all;
  }
  .linkBox.active {
    animation:linkRotateIn 0.4s;
  }
  .linkBox.focus {
    animation:linkRotateOut 0.4s;
  }

  .addLinkGrid {
    position:relative;
    display:inline-block;
    border:3px solid rgb(200, 205, 214);
    height:100%;
    text-align:center;
    cursor:pointer;
    margin-bottom:15px;
  }
  .addLinkGridImage {
    position:absolute;
    top: 50%; left:50%;
    transform:translate(-50%, -50%);
    height: 30%; width:30%;
    filter:brightness(0.7);
  }

  .linkImg {
    transition:transform 0.5s;
    transform:scale(1);
    aspect-ratio:1 / 1;
    height:auto; 
  }
  .linkBox:hover .linkImg {
    transform:scale(1.08);
  }
  .linkNames {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;  /* Number of lines displayed before it truncate */
    width:88%;
    margin: 6px 0 20px 6%;
    height:auto;
    max-height:47.5px;
    font-size:14px;
    overflow:hidden;
    text-shadow: 0 0 3px rgb(249, 251, 253);
  }
  .linkCheckBox {
    position:absolute;
    width:0px;
    right:0px;
    opacity:0;
    zoom:1.4;
    pointer-events:none;
    transition:transform 1s ease-out, opacity 1s ease-out, width 1s ease-out;
    transform:rotateZ(0deg) scale(1.5);
    z-index:1;
  }
  .grid.erase .linkCheckBox {
    width:13px;
    opacity:1;
    cursor:pointer;
    pointer-events:all;
    transform:rotateZ(720deg) scale(1.5);
  }
  .grid.erase .linkBox:hover .linkImg {
    filter:drop-shadow(0 0 0px rgb(255, 155, 155));
  }
  .openTabEdit {
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    pointer-events:none;
  }
  .navBtns .trashTab {
    position:absolute;
    top:0px;
    right:10px;
    margin:0;
    padding:4px;
    width:30px;
    height:30px;
    opacity:0;
    background:rgb(251, 251, 251);
    box-shadow:1px 1px 1px gray;
    border-radius:100px;
    pointer-events:none;
    transform:rotateZ(0deg) scale(0);
    transition:opacity 1s, transform 1s;
    z-index:4;
  }
  .trashTab:hover {
    background:lightgray;
  }
  .buttonNav.erase .trashTab {
    opacity:1;
    pointer-events:all;
    transform:rotateZ(720deg) scale(1);
  }
  .buttonNav.edit .navBtns {
    pointer-events:none;
  }
  .buttonNav.edit .openTabEdit {
    pointer-events:all;
  }
  .buttonNav.edit .navBtnTxtWrapper {
    animation:pulseFont 1s infinite;
  }

  .editDiv {
    pointer-events:none;
  }
  .grid.erase .editDiv {
    pointer-events:none;
  }
  .grid.edit .editDiv {
    pointer-events:auto;
  }
  .grid.edit .linkBox img {
    animation: pulse 2s infinite linear;
  }

  .buttonWrapper {
    position:relative;
    display:inline-block;
    margin:auto;
    text-align:right;
    padding:0 60px;
    max-width:80vw;
    z-index:0;
  }
  .modContainer, .modBoxConfirm {
    position:relative;
    display:inline-flex;
    width:55px;
    height:75px;
    top:-15px;
    margin:-25px 8px 0 8px;
    cursor:pointer;
    text-align:right;
    transition:margin-left 0.5s, left 0.5s, transform 0.5s, opacity 0.5s;
    opacity:1;
    pointer-events:all;
    background:rgb(196, 211, 233);
    box-shadow:3px 3px 5px rgba(195, 195, 195, 0.678);
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    z-index:1;
  }
  .modContainer.hide {
    pointer-events:none;
    transform:translateY(-70px);
    margin-left:-62px;
  }
  .modContainerImage, .modImgConfirm {
    position:absolute;
    width:25px; height:auto;
    transition:0.8s;
    top:38px; left:50%;
    transform:translateX(-50%);
    filter:brightness(2);
  }
  #editimg, #trashimg {
    width:30px; height:auto;
    top:35px;
  }
  .modContainer:hover, .modBoxConfirm:hover {
    transform:translateY(15px);
  }
  .uploadLinkLoader {
    position:absolute;
    display:none;
    letter-spacing:2px;
    font-size:22px;
    color:rgb(164, 175, 196);
    left:50%;
    transform:translateX(-50%);
  }
  .uploadLinkLoader.active {
    display:block;
  }

  .linkLoadLetter:nth-child(1) { animation:linkLoader1 1.5s infinite}
  .linkLoadLetter:nth-child(2) { animation:linkLoader2 1.5s infinite}
  .linkLoadLetter:nth-child(3) { animation:linkLoader3 1.5s infinite}
  .linkLoadLetter:nth-child(4) { animation:linkLoader4 1.5s infinite}
  .linkLoadLetter:nth-child(5) { animation:linkLoader5 1.5s infinite}
  .linkLoadLetter:nth-child(6) { animation:linkLoader6 1.5s infinite}
  .linkLoadLetter:nth-child(7) { animation:linkLoader7 1.5s infinite}
  .linkLoadLetter:nth-child(8) { animation:linkLoader8 1.5s infinite}
  .linkLoadLetter:nth-child(9) { animation:linkLoader9 1.5s infinite}
  .linkLoadLetter:nth-child(10) { animation:linkLoader10 1.5s infinite}
  .linkLoadLetter:nth-child(11) { animation:linkLoader11 1.5s infinite}
  .linkLoadLetter:nth-child(12) { animation:linkLoader12 1.5s infinite}
  .linkLoadLetter:nth-child(13) { animation:linkLoader13 1.5s infinite}
  .linkLoadLetter:nth-child(14) { animation:linkLoader14 1.5s infinite}
  .linkLoadLetter:nth-child(15) { animation:linkLoader15 1.5s infinite}

  .modBoxConfirm {
    margin:-25px 8px 0 -3.35rem;
    left:0;
    opacity:0;
    pointer-events:none;
    z-index:0;
  }
  .modBoxConfirm.hide {
    pointer-events:none;
    opacity:0;
    left:3.35rem;
  }
  .modBoxConfirm:hover .modBtnConfirm {
    box-shadow:3px 3px 5px rgb(184, 184, 184), inset 0 0 40px rgb(229, 255, 229);
  }
  .modBoxConfirm.hide .modBtnConfirm {
    box-shadow:0px 0px 0px rgb(184, 184, 184);
  }
  .modImgConfirm {
    width:14px;
    height:24px;
    top:36px; left:41%;
    border-bottom:4.2px solid rgb(141, 152, 172);
    border-right:4.2px solid rgb(141, 152, 172);
    transform:rotateZ(-320deg) scale(1.2);
  }

  .modBoxConfirm.active {
    margin-left:0.5rem;
    opacity:1;
    pointer-events:all;
  }
  .modBoxConfirm.active .modImgConfirm {
    transform:rotateZ(40deg) scale(1.2);
  }

  .loader {
    position:absolute;
    display:none;
    top:21.5%;
    left:41%;
    width:40px;
    height:40px;
    transform-origin:33% 33%;
    grid-template-columns:1fr 1fr;
    animation: loader 2s infinite;
    z-index:-1;
  }
  .dot {
    height:30%;
    width:30%;
    animation:dotloader 4s infinite;
  }
  .dot:nth-child(1) { background-color:green}
  .dot:nth-child(2) { background-color:yellow}
  .dot:nth-child(3) { background-color:blue}
  .dot:nth-child(4) { background-color:red}

  .tabEraseConfirm {
    position:fixed;
    width:250px;
    height:auto;
    top:-20%;
    left:calc(50% - 125px);
    background-color: rgb(246, 247, 253);
    box-shadow: 0 0 10px rgb(246, 247, 253);
    z-index:11;
    border:2px solid rgb(204, 206, 214);
    border-radius:20px;
    transition:opacity 0.5s, top 0.5s;
    opacity:0;
    pointer-events:none;
    transform:scale(1.5);
  }
  .tabEraseConfirm.active {
    opacity:1;
    pointer-events:all;
    top:calc(50% - 100px);
  }
  .tabEraseConfirmBox {
    display:block;
  }
  .tabEraseConfirmBox.active {
    display:none;
  }
  .tabEraseConfirmText {
    height:auto;
    width:80%;
    margin-left:10%;
    margin-top:5%;
    font-size:16px;
  }
  .tabEraseConfirmBtn {
    width:49.8%;
    height:60px;
    margin-top:3%;
    vertical-align: bottom;
    cursor:pointer;
    transition:0.5s;
  }
  .tabEraseConfirmBtn:nth-child(2):hover {
    background-color:rgb(255, 241, 241);
  }
  .tabEraseConfirmBtn:nth-child(3):hover {
    background-color:rgb(236, 255, 236);
  }
  .tabEraseConfirmBtn:nth-child(2) {
    border-bottom-left-radius:18px;
  }
  .tabEraseConfirmBtn:nth-child(3) {
    border-bottom-right-radius:18px;
    border-left:thin solid rgb(204, 206, 214);
  }
  .tabEraseImg {
    width:25%;
    height:50%;
    box-shadow:none;
  }
  .tabEraseCheck {
    width:17px;
    height:30px;
    border-bottom:4.2px solid rgb(141, 152, 172);
    border-right:4.2px solid rgb(141, 152, 172);
    transform: rotateZ(40deg);
    margin:auto;
    margin-top:-9%;
  }

  .tabEraseDeleting {
    display:none;
  }
  .tabEraseDeleting.active {
    display:block;
    height:6rem;
  }
  .tabEraseDeletingText {
    position:absolute;
    top:27%;
    left:-1%;
    font-size:20px;
  }
  .deleteLoader {
    position:absolute;
    display:flex;
    align-items:center;
    top:13%;
    left:40%;
    width:220px;
    border-radius:40px;
    padding:1rem 2rem;
    transition:0.5s ease-out;
}
  .sk-chase {
    width: 40px;
    height: 40px;
    position: relative;
    animation: sk-chase 2.5s infinite linear both;
    margin-left:35px;
  }
  .sk-chase-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: sk-chase-dot 2.0s infinite ease-in-out both; 
  }
  .sk-chase-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: rgb(65, 133, 160);
    border-radius: 100%;
    animation: sk-chase-dot-before 2.0s infinite ease-in-out both; 
  }
  
  .sk-chase-dot:nth-child(1) { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2) { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3) { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4) { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5) { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6) { animation-delay: -0.6s; }
  .sk-chase-dot:nth-child(1):before { animation-delay: -1.1s; }
  .sk-chase-dot:nth-child(2):before { animation-delay: -1.0s; }
  .sk-chase-dot:nth-child(3):before { animation-delay: -0.9s; }
  .sk-chase-dot:nth-child(4):before { animation-delay: -0.8s; }
  .sk-chase-dot:nth-child(5):before { animation-delay: -0.7s; }
  .sk-chase-dot:nth-child(6):before { animation-delay: -0.6s; }

  @keyframes titleFade {
    0% {
      pointer-events:all;
      opacity:1;
    } 60% {
      opacity:1;
    } 90% {
      pointer-events:all;
    } 100% {
      pointer-events:none;
      opacity:0;
    }
  }

  @keyframes blurIn {
    from {
      filter: blur(50px);
    } to {
      filter:blur(0);
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      filter:blur(50px);
    } to {
      opacity: 1;
      filter:blur(0px);
    }
  }

  @keyframes loadUp {
    0% {
      transform:translateY(0);
    } 20% {
      transform:translateY(0);
    } 50% {
      transform:translateY(-20px);
    } 80% {
      transform:translateY(0);
    } 100% {
      transform:translateY(0);
    }
  }
  @keyframes loadDown {
    0% {
      transform:translateY(0);
    } 20% {
      transform:translateY(0);
    } 50% {
      transform:translateY(20px);
    } 80% {
      transform:translateY(0);
    } 100% {
      transform:translateY(0);
    }
  }
  @keyframes loadFade {
    0% {
      opacity: 0;
    } 50% {
      opacity: 0;
    } 100% {
      opacity: 1;
    }
  }

  @keyframes linkRotateIn {
    from {
      opacity:0;
      transform:rotateY(-90deg)
    } to {
      opacity:1;
      transform:rotateY(0deg)
    }
  }
  @keyframes linkRotateOut {
    from {
      opacity:0;
      transform:rotateY(0deg)
    } to {
      opacity:1;
      transform:rotateY(90deg)
    }
  }

  @keyframes pulse {
    0% {
      transform:rotateY(0deg);
    }
    25% {
      transform:rotateY(30deg);
      }
    50% {
      transform:rotateY(0deg);
    }
    75% {
      transform:rotateY(-30deg);
    }
    100% {
      transform:rotateY(0deg);
    }
  }

  @keyframes pulseFont {
    0% {
      transform:scale(1)
    }
    50% {
      transform:scale(1.3)
      }
    100% {
      transform:scale(1)
    }
  }

  @keyframes loader {
    0% {
      transform:rotateZ(0);
    }
    100% {
      transform:rotateZ(1080deg);
    }
  }

  @keyframes dotloader {
    0% {
      border-radius:0%;
    }
    50% {
      border-radius:100%;
    }
    100% {
      border-radius:0%;
    }
  }

  @keyframes sk-chase {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes sk-chase-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }

  @media (max-width:790px) {
    .grid {
      max-width:100%;
      margin-top:0rem;
    }
    .buttonNav {
      margin-bottom:-15px;
    }
  }

  @media (max-width:650px) {
    .container {
      padding-top:90px;
    }
  }

  @media (max-width:510px) {
    .searchBar {
      max-width:100vw;
    }

    .gridWrapper {
      max-width:100%;
      margin-top:0rem;
    }
    .grid {
      justify-content: center;
    }
    .grid::-webkit-scrollbar {
      width:0; 
    }
    .buttonNav {
      margin-bottom:-15px;
    }
    .leftTabArrow {
      left:10px;
    }
    .rightTabArrow {
      right:10px;
    }
    .buttonWrapper {
      padding:0;
      white-space:nowrap;
    }
  }

  @media (max-width:400px) {
    .title {
      position:fixed;
      display:flex;
      flex-wrap: wrap;
      height:100%; width:100%;
      font-size: 96px;
      opacity:1;
      background:rgb(232, 238, 247);
      transition:0.8s;
      z-index:9999;
      pointer-events:all;
    }
    .titleLoader {
      transform: translateX(-50%) scale(0.8);
    }
    .container {
      padding-top:60px;
    }
  }