.navBar {
    position:fixed;
    width:360px;
    height:100%;
    left:-370px;
    top:0;
    background-color:rgb(250, 250, 250);
    box-shadow:3px 0px 10px lightgray;
    transition:left 0.8s;
    overflow-x:hidden;
    z-index:6;
}
.navBar.active {
    left:0px;
}
.navBar::-webkit-scrollbar {
    width:0px;
}

.navTitle {
    position:relative;
    text-align:left;
    top:28px; left:32px;
    padding-bottom:20px;
    font-size:50px;
    color:rgb(131, 134, 153);
    text-shadow:0px 0px 2px lightgray;
}

.sideShadow {
    transition:1s;
}

.sideSignIn {
    position:relative;
    margin-top:80px;
    cursor:pointer;
    transform:scale(1.4);
    overflow:visible;
}
.sideSignIn.active {
    animation: signInBox 3s;
    margin-top:-320px;
    opacity:0;
    pointer-events:none;
}
.rocketContainer {
    position:relative;
    height:220px;
    width:100%;
    margin-top:-120px;
    margin-left:0;
    overflow:hidden;
}
.rocketBase {
    margin-left:20%;
    width:60%;
    height:0.5px;
    background-color:rgb(131, 134, 153);
}
.sideSignIn.active .rocketBase {
    animation:rocketBase 1.5s linear;
    opacity:0;
}
.rocket {
    position:absolute;
    margin-left:-2rem;
    bottom:0;
    width:70px;
    height:100px;
    box-shadow:none;
}
.sideSignIn.active .rocket {
    animation: rocket 2.5s;
    bottom:160px;
    height:60px;
    width:42px;
    margin-left:6rem;
    transform:rotateZ(45deg);
}
.flame {
    position:absolute;
    margin-left:-2.7rem;
    width:12px;
    height:20px;
    bottom:-20px;
    box-shadow:none;
}
.sideSignIn.active .flame {
    animation: flame 2.5s 0.05s;
    width:12px;
    height:20px;
    bottom:-20px;
    margin-left:-2.7rem;
    transform:rotateZ(45deg);
}
.baseSignIn {
    height:auto;
    width:60%;
    text-align:center;
    margin-top:0.5rem;
    margin-left:20%;
    line-height:30px;
    font-size:18px;
    color:rgb(131, 134, 153);
    transition:0.5s;
}
.sideSignIn.active .baseSignIn {
    animation: signIn 2.5s;
    margin-top:-4.5rem;
    opacity: 0;
}
.optionsImages {
    display:none;
}
.optionsImages.active {
    display:block;
}
.optionsImage, .optionsNightImage {
    position:relative;
    width:100%; height:auto;
    top:100px; left:0;
    opacity:0.4;
    pointer-events:none;
    margin-bottom:100px;
}

.sideMenuBtn {
    position:fixed;
    top:40px;
    left:40px;
    padding:0.4rem 0.5rem 0.8rem 0.5rem;
    transition:top 0.8s, left 0.8s, padding 0.8s, background 0.8s;
    border-radius:100%;
    cursor:pointer;
    z-index:7;
    transform:scale(1.45);
}
.sideMenuBtn.active {
    top:26px;
    left:295px;
    padding:0.4rem 0rem 1.2rem 0.5rem;
    background:rgb(250, 250, 250);
}
.cancelBar {
    width:2rem;
    height:0.2rem;
    border-radius:25%;
    background:rgb(149, 149, 149);
    margin-top:6px;
    transition:0.8s;
}
.sideMenuBtn.active .cancelBar:nth-child(1) {
    margin-top:0.8rem;
    left:200px;
    transform:rotateZ(45deg);
    width:1.5rem;
}
.sideMenuBtn.active .cancelBar:nth-child(2) {
    opacity:0;
}
.sideMenuBtn.active .cancelBar:nth-child(3) {
    margin-top:-0.8rem;
    transform:rotateZ(-45deg);
    width:1.5rem;
}

.importBox {
    display:flex;
    text-align:center;
    width:88%; height:60px;
    margin:50% 0 40px 6%;
    border-top:thin solid lightgray;
    border-bottom:thin solid lightgray;
    justify-items:center;
    align-items:center;
    text-align:center;
    cursor:pointer;
}
.importText {
    padding-left:12px;
    font-size:20px;
    margin-left:0.45rem;
    color:rgb(119, 119, 119);
}
.importImage {
    position:absolute;
    box-shadow:none;
    border-radius:0;
    width:32px;
    height:32px;
    right:45px;
    filter:brightness(95%);
}
.importBox:hover .importImage {
    animation:scaleSize 1s infinite;
}

.sideContainer {
    position:relative;
    padding: 0.5rem 0;
    margin:-55px 0 70px 0;
}
.sideContainerHeader {
    position:relative;
    padding:9px 0 9px 14px;
    height:80px;
    text-align:left;
    cursor:pointer;
    transition:0.3s;
}
.sideContainerHeader:hover .sideHeaderArrow {
    border-bottom: 2px solid rgb(121, 161, 177);
    border-right:2px solid rgb(121, 161, 177);
    animation:rotateArrowDown 1s, bobbingArrowDown 1s linear 1s infinite;
}
.sideHeader {
    text-align:left;
    font-size:27px;
    color: rgb(119, 119, 119);
    transition:0.3s;
    margin:10px 0 0 100px;
    width:auto; height:auto;
}
.sideContainer.active #sidecontainerheader1 .sideHeader, #sidecontainerheader1:hover .sideHeader {
    color: rgb(99, 154, 175);
}
.sideContainer.active #sidecontainerheader2 .sideHeader, #sidecontainerheader2:hover .sideHeader {
    color: rgb(152, 127, 161);
}
.sideContainer.active #sidecontainerheader3 .sideHeader, #sidecontainerheader3:hover .sideHeader {
    color: rgb(167, 223, 188);
}
.sideContainer.active #sidecontainerheader4 .sideHeader, #sidecontainerheader4:hover .sideHeader {
    color: rgb(207, 197, 152);
}

#optionimage1, #optionimage2, #optionimage3, #optionimage4 {
    position:absolute;
    box-shadow:none;
    border-radius:0;
    filter:brightness(1) sepia(0) hue-rotate(0);
    transition:box-shadow 0.5s, filter 0.5s;
}
#optionimage1 {
    top:28px;
    left:36px;
    width:35px; height:23px;
}
.sideContainer.active #optionimage1 {
    filter:brightness(1) sepia(100%) hue-rotate(140deg);
}
#optionimage2 {
    top:20px;
    left:39px;
    width:30px; height:35px;
}
.sideContainer.active #optionimage2 {
    filter:brightness(1) sepia(100%) hue-rotate(250deg);
}
#optionimage3 {
    top:23px;
    left:39px;
    width:35px; height:35px;
}
.sideContainer.active #optionimage3 {
    filter:brightness(1) sepia(100%) hue-rotate(100deg);
}
#optionimage4 {
    top:23px;
    left:41px;
    width:33px; height:33px;
}
.sideContainer.active #optionimage4 {
    filter:brightness(1) sepia(100%) hue-rotate(0deg);
}
.optionImage {
    transform:scale(1.45);
}
#optiondecor1, #optiondecor2, #optiondecor3, #optiondecor4 {
    position: absolute;
    left:0;
    height:61px;
    width:7px;
    transform: translateX(-7px);
    transition:0.5s;
}
.sideContainer.active #optiondecor1,
.sideContainer.active #optiondecor2,
.sideContainer.active #optiondecor3,
.sideContainer.active #optiondecor4 {
    transform: translateX(0);
}
#optiondecor1 { 
    background: rgb(149, 213, 218); 
    box-shadow: 0 0 0px rgb(149, 213, 218);
}
#optiondecor2 { 
    background: rgb(128, 106, 136);
    box-shadow: 0 0 0px rgb(128, 106, 136);
}
#optiondecor3 { 
    background: rgb(167, 223, 188);
    box-shadow: 0 0 0px rgb(167, 223, 188);
}
#optiondecor4 { 
    background: rgb(207, 197, 152);
    box-shadow: 0 0 0px rgb(207, 197, 152);
}

.sideOptions {
    padding-top:6px;
    pointer-events: none;
}
.sideContainer.active .sideOptions {
    pointer-events: all;
}
.sideOptionContainer {
    position:relative;
    height:0px;
    padding:0;
    text-align:left;
    transition:1.5s;
}
.sideOptionContainerSize {
    position:relative;
    height:0px;
    padding:0;
    text-align:left;
    transition:1.5s;
}
.sideContainer.active .sideOptionContainer {
    height:88px;
    padding:11px 22px 26px 35px;
}
.sideContainer.active .sideOptionContainerSize {
    height:115px;
    padding:0.5rem 1rem 4rem 1.1rem;
}
.option {
    position:relative;
    display:inline-block;
    line-height:40px;
    vertical-align:middle;
    color: rgb(121, 121, 121);
    opacity:0;
    transition:opacity 0.5s, transform 0.5s;
    transform:translateX(-200px);
    font-size:21px;
}
.sideContainer.active .option {
    opacity:1;
    transform:translateX(0px);
}

.switchContainer {
    position:absolute;
    right:10px;
    height:42px;
    width:74px;
    opacity:0;
    background-color:lightblue;
    border-radius:50px;
    padding:22px 12px 20px 22px;
    box-shadow:0px 0px 14px lightblue;
    pointer-events:all;
    cursor:pointer;
    transform:translateX(90px);
    z-index:0;
}
.sideContainer.active .switchContainer,
.sideContainer.active .colorOption {
    transform:translateX(-14px);
    opacity:1;
}
.switch {
    position:absolute;
    bottom:4px;
    left:35px;
    background-color:white;
    border-radius:100%;
    width:34px;
    height:34px;
    cursor:pointer;
    transition:0.5s;
    transform:translateX(0);
}
.switchContainer.active {
    background-color:rgb(223, 223, 223);
    box-shadow:0px 0px 0px rgb(223, 223, 223);
}
.switchContainer.active .switch {
    transform:translateX(-29px);
}

.sizeSliderBox {
    position:absolute;
    right:-160px;
    opacity:0;
    transition:transform 0.5s, opacity 0.5s;
    transform:scale(1.45);
}
.sideContainer.active .sizeSliderBox {
    transform:scale(1.45) translateX(-185px);
    opacity:1;
}
.resetSlider {
    position:absolute;
    left:-0.2rem;
    top:13px;
    width:15px;
    height:auto;
    box-shadow:none;
    transition:opacity 0.5s;
    opacity:0;
    pointer-events:none;
}
.resetSlider.active {
    opacity:1;
    pointer-events:all;
}
.sizeSlider {
    position:relative;
    display:block;
    margin:18px 0 0 2rem;
    -webkit-appearance: none;
    background:linear-gradient(to right, rgb(231, 246, 248) 0%, rgb(194, 218, 228) 50%, rgb(161, 193, 202) 100%);
    width:150px;
    height:5px;
    border-radius:10px;
    right:0.4rem;
}
.sizeSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    cursor: pointer;
    backface-visibility: hidden;
    background: radial-gradient(rgb(231, 246, 248) 0%, rgb(62, 128, 49) 100%);
    border: thin solid rgb(146, 146, 146);
    box-shadow:0 0 0px rgb(158, 231, 144);
    transition:transform 0.3s;
    -webkit-backface-visibility: hidden;
}
.sizeSlider::-webkit-slider-thumb:hover {
    transform:scale(1.12);
}
.sliderNumber {
    position:absolute;
    width:auto;
    height:auto;
    margin:auto;
    right:-29px;
    top:10px;
    font-size:12px;
    color: rgb(146, 146, 146);
    pointer-events:none;
}

.themeContainer {
    display:inline-block;
    width:105px;
    height:0px;
    margin:0px;
    overflow:hidden;
    opacity:0;
    transition:height 0.5s, margin 0.5s, opacity 0.5s;
}
.sideContainer.active .themeContainer {
    height:145px;
    margin:20px;
    opacity:1;
}
.themeSelect {
    width:100%;
    height:105px;
    border-radius:10px;
    border:1px solid rgb(194, 194, 194);
    overflow:hidden;
    cursor:pointer;
}
.themeUploadImage {
    width:100%;
    height:100%;
    border-radius:0;
    cursor:pointer;
    object-fit: cover;
    z-index:0;
}
.addTheme {
    position:absolute;
    width:105px;
    height:105px;
    opacity:1;
    cursor:pointer;
    z-index:1;
}
.addTheme::-webkit-file-upload-button {
    visibility: hidden;
  }
.addTheme::before {
    content: none;
}
.themeSelectText {
    font-size:21px;
    margin:0;
    padding:5px 10px;
    transition:transform 0.8s;
    cursor:pointer;
    letter-spacing:0.5px;
}
.themeContainer.active .themeSelectText {
    color: rgb(113, 154, 207);
    text-decoration: underline;
    transform:scale(1.1);
}
.themeGrid {
    width:90%;
    height:0px;
    margin-left:5%;
    padding-top:0px;
    overflow:auto;
    box-shadow:0 0 10px rgb(202, 202, 202);
    border-radius: 10px;
    transition:height 0.8s, padding-top 0.8s;
}
.sideContainer.active .themeGrid {
    height:210px;
    padding-top:8px;
}
.themeImage {
    transform:scale(0.95);
    margin:4px;
    height:90px; width:140px;
    cursor:pointer;
    object-fit: cover;
    box-shadow:0 0 10px rgb(182, 182, 182);
}
.themeImage.active {
    transform:scale(0.9);
    border:3px solid rgb(115, 176, 197);
}

.themeGrid::-webkit-scrollbar {
    width:15px; 
    border-radius:50px;
    background:none;
}
.themeGrid::-webkit-scrollbar-track {
    background:none;
}
.themeGrid::-webkit-scrollbar-thumb {
    border: 2px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(196, 211, 233);
}

.saveBox {
    position:relative;
    top:0px;
    width:80%; height:50px;
    margin:0 auto 20px auto; padding:auto;
    z-index:1;
    cursor:pointer;
    pointer-events:none;
    transition:transform 0.4s ease-in-out;
    border-radius:30px;
    box-shadow: 2px 2px 7px rgb(214, 214, 214), -2px -2px 7px rgb(250, 250, 250);
    transform:rotateY(90deg);
}
.saveBox.active {
    pointer-events:all;
    transform:rotateY(0deg);
}
.saveText {
    position:absolute;
    top:50%; transform:translateY(-50%);
    width:100%;
    font-size:20px;
    transition:color 0.4s, letter-spacing 0.4s;
    z-index:-1;
    color:rgb(119, 119, 119);
}
.saveBox:hover .saveText {
    color: rgb(134, 174, 207);
    letter-spacing:0.5px;
}

.saveConfirm {
    position:fixed;
    width:250px;
    height:auto;
    top:-20%;
    left:calc(50% - 125px);
    background-color: rgb(246, 247, 253);
    box-shadow: 0 0 10px rgb(246, 247, 253);
    border:2px solid rgb(204, 206, 214);
    border-radius:20px;
    transition:opacity 0.5s, top 0.5s;
    opacity:0;
    pointer-events:none;
    z-index:11;
    transform:scale(1.45);
}
.saveConfirm.active {
    opacity:1;
    pointer-events:all;
    top:calc(50% - 100px);
}
.saveConfirmText {
    position:relative;
    height:auto;
    width:80%;
    margin-left:10%;
    margin-top:5%;
    font-size:18px;
    margin-bottom:0.6rem;
}
.saveConfirmBtn {
    position:relative;
    width:49.8%;
    height:60px;
    margin-top:3%;
    vertical-align: bottom;
    cursor:pointer;
    transition:0.5s;
}
.saveConfirmBtn:nth-child(2):hover {
    background-color:rgb(255, 241, 241);
}
.saveConfirmBtn:nth-child(3):hover {
    background-color:rgb(236, 255, 236);
}
.saveConfirmBtn:nth-child(2) {
    border-bottom-left-radius:18px;
}
.saveConfirmBtn:nth-child(3) {
    border-bottom-right-radius:18px;
    border-left:thin solid rgb(204, 206, 214);
}
.saveConfirmImg {
    position:relative;
    width:25%;
    height:50%;
    box-shadow:none;
}
.saveCheck {
    position:relative;
    width:17px;
    height:30px;
    border-bottom:4.2px solid rgb(141, 152, 172);
    border-right:4.2px solid rgb(141, 152, 172);
    transform: rotateZ(40deg);
    margin:auto;
    margin-top:-9%;
}

.resetBox {
    position:relative;
    width:100%;
    margin-top:0px;
    margin-bottom:145px;
    transition:transform 0.4s ease-in-out;
    pointer-events:none;
    overflow:visible;
    transform:rotateY(90deg);
}
.resetBox.active {
    pointer-events:all;
    transform:rotateY(0deg);
}
.resetPreferences {
    position:relative;
    width:80%; height:50px;
    padding: 10px 0;
    text-align:center;
    font-size:20px;
    margin:auto;
    color: rgb(121, 121, 121);
    transition:color 0.4s, letter-spacing 0.4s;
    cursor:pointer;
    border-radius:30px;
    box-shadow: 2px 2px 7px rgb(214, 214, 214), -2px -2px 7px rgb(250, 250, 250);
}
.resetPreferences:hover {
    color: rgb(134, 174, 207);
    letter-spacing:0.5px;
}
.resetConfirmBox {
    position:relative;
    overflow:hidden;
    opacity:0;
    pointer-events:none;
    margin:20px 0 0 -15px;
    transition:opacity 0.4s;
}
.resetConfirmBox.active {
    pointer-events:all;
    opacity:1;
}
.resetConfirm {
    display:inline-table;
    text-align:right;
    color: rgb(129, 102, 102);
    width:50%; height:50px;
    font-size:15px;
    margin-right:15px;
}
.resetBtn {
    position:relative;
    display:inline-table;
    width:30px;
    height:30px;
    padding:10px;
    padding-bottom:2rem;
    margin-left:10px;
    bottom:5px;
    vertical-align: bottom;
    cursor:pointer;
    transition:transform 0.3s;
    transform:scale(1.5);
}
.resetBtn:hover {
    transform:scale(1.7);
}
.resetBtn:nth-child(3) {
    margin-left:20px;
    bottom:6px;
}
.resetCancel {
    position:absolute;
    left:0.3rem;
    width:1.25rem;
    height:1.25rem;
    box-shadow:none;
}
.resetCheck {
    width:10px;
    height:18px;
    border-bottom:3px solid rgb(141, 152, 172);
    border-right:3px solid rgb(141, 152, 172);
    transform: rotateZ(40deg);
    margin:auto;
}

.sideNightContainer {
    position:fixed;
    width:240px;
    bottom:0;
    height:4.5rem;
    padding-top:0.7rem;
    margin-bottom:0rem;
    background-color:rgb(250, 250, 250);
    box-shadow:0px 0px 20px -10px rgb(133, 133, 133);
    z-index:2;
    transform:scale(1.5) translate(40px, -12px);
}
.sideNightLabel {
    width:150px;
    font-size:16px;
    color:rgb(119, 119, 119);
    margin-left:-0.8rem;
    padding-top:12px;
}

@keyframes boxAnimate {
    0% {
        margin-top:1rem;
    }
    50% {
        margin-top:1.5rem;
    }
    100% {
        margin-top:1rem;
    }
}

@keyframes arrowAnimate {
    0% {
        margin-top:-0.2rem;
    }
    50% {
        margin-top:-0.5rem;
    }
    100% {
        margin-top:-0.2rem;
    }
}

@keyframes signInBox {
    0% {
        opacity: 1;
        margin-top:80px;
    }
    65% {
        opacity: 1;
        margin-top:80px;
    }
    100% {
        opacity: 0;
        margin-top:-320px;
    }
}

@keyframes rocketBase {
    0% {
        opacity:1;
    } 40% {
        opacity:1;
    } 100% {
        opacity:0;
    }
}
@keyframes rocket {
    0% {
        bottom:0px;
        height:100px;
        width:70px;
        margin-left:-2rem;
        transform:rotateZ(0deg);
    }
    25% {
        bottom:40px;
        height:70px;
        width:49px;
        margin-left:-1.4rem;
    }
    50% {
        bottom:40px;
        height:60px;
        width:42px;
        margin-left:-0.8rem;
        transform:rotateZ(45deg);
    }
    100% {
        bottom:160px;
        height:60px;
        width:42px;
        margin-left:6rem;
        transform:rotateZ(45deg);
    }
}

@keyframes flame {
    0% {
        width:12px;
        height:20px;
        bottom:-20px;
        margin-left:0rem;
        transform:rotateZ(0deg);
    }
    25% {
        width:12px;
        height:20px;
        bottom:27px;
        margin-left:-1.9rem;
    }
    50% {
        width:24px;
        height:50px;
        bottom:5px;
        margin-left:-2.8rem;
        transform:rotateZ(45deg);
    }
    100% {
        width:24px;
        height:50px;
        bottom:140px;
        margin-left:5rem;
        transform:rotateZ(45deg);
    }
}

@keyframes signIn {
    0% {
        margin-top:0.5rem;
        opacity: 1;
    } 
    50% {
        margin-top:0.5rem;
        opacity: 1;
    }
    100% {
        margin-top:-4.5rem;
        opacity: 0;
    }
}

@keyframes showOptions {
    from {
        max-height:0rem;
    } to {
        max-height:40rem;
    }
}

@keyframes closeOptions {
    0% {
        max-height:60rem;
    } 20% {
        max-height:60rem;
    } 100% {
        max-height:0rem;
    }
}

@keyframes scaleSize {
    0% {
        transform:scale(1);
    } 50% {
        transform: scale(1.1);
    } 100% {
        transform:scale(1);
    }
}

@media (max-width:400px) {
    .navBar {
        width:240px;
        left:-250px;
    }
    
    .navTitle {
        top:30px; left:24px;
        padding-bottom:20px;
        margin-bottom:60px;
        font-size:40px;
    }

    .optionsImage {
        top:20px;
        margin-bottom:80px;
    }
    
    .baseSignIn {
        font-size:14px;
        margin-bottom:80px;
    }
    
    .sideMenuBtn {
        top:20px;
        left:20px;
        transform:scale(1.25);
    }
    .sideMenuBtn.active {
        top:15px;
        left:185px;
    }
    
    .importBox {
        display:none;
    }
    
    .sideContainer {
        padding: 0;
    }
    .sideContainerHeader {
        padding:9px 0 9px 14px;
        height:75px;
    }
    .sideContainerHeader:hover .sideHeaderArrow {
        border-bottom: 2px solid rgb(121, 161, 177);
        border-right:2px solid rgb(121, 161, 177);
    }
    .sideHeader {
        font-size:23px;
        margin:10px 0 0 80px;
    }
    
    .optionImage {
        transform:scale(1.25);
    }
    #optionimage1 { left:30px; }
    #optionimage2 { left:33px; }
    #optionimage3 { left:32px; }
    #optionimage4 { left:34px; }
    #optiondecor1, #optiondecor2, #optiondecor3, #optiondecor4 {
        left:0;
        height:61px;
        width:7px;
    }
    
    .sideOptions {
        padding-top:4px;
    }
    .sideContainer.active .sideOptionContainer {
        height:70px;
        padding:11px 22px 26px 20px;
    }
    .sideContainer.active .sideOptionContainerSize {
        height:95px;
    }
    .option {
        font-size:17px;
    }
    
    .switchContainer {
        right:0px;
        height:2px;
        width:52px;
        padding:18px 12px 18px 22px;
        box-shadow:0px 0px 14px lightblue;
        transform:translateX(90px);
    }
    .sideContainer.active .switchContainer,
    .sideContainer.active .colorOption {
        transform:translateX(-14px);
    }
    .switch {
        bottom:4px;
        left:21px;
        width:28px;
        height:28px;
    }
    .switchContainer.active .switch {
        transform:translateX(-17px);
    }
    
    .sizeSliderBox {
        right:-160px;
    }
    .sideContainer.active .sizeSliderBox {
        transform:scale(1.45) translateX(-185px);
    }
    .resetSlider {
        left:28px;
        top:10px;
        width:15px;
    }
    .resetSlider.active {
        opacity:1;
    }
    .sizeSlider {
        margin:14px 0 0 2rem;
        width:100px;
        height:5px;
        right:-19px;
    }
    .sliderNumber {
        right:-41px;
        top:7px;
        font-size:11px;
    }
    
    .themeContainer {
        width:70px;
    }
    .sideContainer.active .themeContainer {
        height:105px;
        margin:15px;
    }
    .themeSelect {
        height:70px;
    }
    .addTheme {
        width:105px;
        height:105px;
    }
    .themeSelectText {
        font-size:15px;
        padding:5px 8px;
    }
    .sideContainer.active .themeGrid {
        height:160px;
        padding-top:8px;
    }
    .themeImage {
        margin:4px;
        height:60px; width:90px;
    }
    .themeGrid::-webkit-scrollbar {
        width:11px;
    }
    
    .saveBox {
        top:0px;
        height:42px;
        margin:0 auto 20px auto;
    }
    .saveText {
        top:50%; transform:translateY(-50%);
        width:100%;
        font-size:17px;
    }
    .saveBox:hover .saveText {
        letter-spacing:0.5px;
    }
    
    .saveConfirm {
        transform:scale(1);
    }
    
    .resetPreferences {
        height:42px;
        padding: 10px 0;
        font-size:16px;
    }
    .resetConfirmBox {
        margin:20px 0 0 -15px;
    }
    .resetConfirm {
        width:60%; height:50px;
        font-size:14px;
        margin-right:0px;
    }
    .resetBtn {
        width:30px;
        height:30px;
        padding:10px;
        padding-bottom:2rem;
        margin-left:10px;
        bottom:5px;
        transform:scale(1.2);
    }
    .resetBtn:nth-child(3) {
        margin-left:5px;
        bottom:6px;
    }
    
    .sideNightContainer {
        transform:scale(1) translate(0, 0);
    }
    
    @keyframes boxAnimate {
        0% {
            margin-top:1rem;
        }
        50% {
            margin-top:1.5rem;
        }
        100% {
            margin-top:1rem;
        }
    }
    
    @keyframes arrowAnimate {
        0% {
            margin-top:-0.2rem;
        }
        50% {
            margin-top:-0.5rem;
        }
        100% {
            margin-top:-0.2rem;
        }
    }
    
    @keyframes signInBox {
        0% {
            opacity: 1;
            margin-top:80px;
        }
        65% {
            opacity: 1;
            margin-top:80px;
        }
        100% {
            opacity: 0;
            margin-top:-320px;
        }
    }
    
    @keyframes rocket {
        0% {
            bottom:0px;
            height:100px;
            width:70px;
            margin-left:-2rem;
            transform:rotateZ(0deg);
        }
        25% {
            bottom:40px;
            height:70px;
            width:49px;
            margin-left:-1.4rem;
        }
        50% {
            bottom:40px;
            height:60px;
            width:42px;
            margin-left:-0.8rem;
            transform:rotateZ(45deg);
        }
        100% {
            bottom:160px;
            height:60px;
            width:42px;
            margin-left:6rem;
            transform:rotateZ(45deg);
        }
    }
    
    @keyframes flame {
        0% {
            width:12px;
            height:20px;
            bottom:-20px;
            margin-left:0rem;
            transform:rotateZ(0deg);
        }
        25% {
            width:12px;
            height:20px;
            bottom:27px;
            margin-left:-1.9rem;
        }
        50% {
            width:24px;
            height:50px;
            bottom:5px;
            margin-left:-2.8rem;
            transform:rotateZ(45deg);
        }
        100% {
            width:24px;
            height:50px;
            bottom:140px;
            margin-left:5rem;
            transform:rotateZ(45deg);
        }
    }
    
    @keyframes signIn {
        0% {
            margin-top:0.5rem;
            opacity: 1;
        } 
        50% {
            margin-top:0.5rem;
            opacity: 1;
        }
        100% {
            margin-top:-4.5rem;
            opacity: 0;
        }
    }
    
    @keyframes showOptions {
        from {
            max-height:0rem;
        } to {
            max-height:40rem;
        }
    }
    
    @keyframes closeOptions {
        0% {
            max-height:60rem;
        } 20% {
            max-height:60rem;
        } 100% {
            max-height:0rem;
        }
    }
  }