  .nightContainer {
    position:absolute;
    text-align:center;
    max-height:35px;
    top:1.2rem;
    right:1.2rem;
    opacity:1;
    background:lightblue;
    border-radius:50px;
    padding:14px 6px 14px 16px;
    box-shadow:0px 0px 10px lightblue;
    pointer-events:all;
    cursor:pointer;
    transition:0.5s;
    animation:nightSwitch 3s ease-out;
  }
  .nightContainer .nightSwitch {
    position:absolute;
    bottom:7%;
    transform:translateX(108%);
    background-color:white;
    border-radius:100%;
    width:30px;
    height:30px;
    cursor:pointer;
    transition:0.5s;
  }
  .nightContainer .nightImg {
    box-shadow:none;
    width:25px;
    height:25px;
    margin-top:-9px;
    margin-left:-10px;
  }
  .nightContainer.active {
    background:gray;
  }
  .nightContainer.active .nightSwitch {
    transform:translateX(-40%);
  }

  .container.night {
    background:rgb(19, 19, 19);
  }
  .container.night p {
    color:rgb(204, 204, 204);
  }
  .container.night ::-webkit-scrollbar-track {
    background-color: rgb(54, 54, 54);
  }
  .container.night ::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
  }
  .container.night body::-webkit-scrollbar {
    background:rgb(19, 19, 19);
  }
  .container.night body::-webkit-scrollbar-track {
    background-color: rgb(54, 54, 54);
  }
  .container.night body::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20);
  }

  .container.night .title {
    background:rgb(19, 19, 19);
  }
  .container.night .letter {
    color:rgb(219, 219, 219);
    text-shadow:0px 0px 3px rgb(219, 219, 219);
  }

  .container.night .profileRelative {
    background:rgb(19, 19, 19);
    box-shadow: 0px 0px 0px rgb(32, 32, 32), 0px 0px 0px rgb(0, 0, 0);
  }
  .container.night .profileWrapper.active .profileRelative {
    box-shadow: 5px 5px 7px rgb(32, 32, 32), -5px -5px 7px rgb(0, 0, 0);
  }
  .container.night .profilePic.active {
    box-shadow: 0 0 5px rgb(0, 0, 0);
  }
  .container.night .signOutText {
    color:rgb(175, 136, 136);
  }
  .container.night .profileIcon {
    filter:contrast(0);
  }

  .container.night .contactEmail {
    border-bottom:thin solid rgb(204, 204, 204);
    color:rgb(204, 204, 204);
  }
  .container.night .emailError {
    color:rgb(175, 136, 136);
  }
  .container.night .contactMessage {
    border:thin solid rgb(204, 204, 204);
    color:rgb(204, 204, 204);
  }
  .container.night .contactButton {
    color:rgb(204, 204, 204);
  }
  .container.night .contactButton:nth-child(8) {
    color:rgb(175, 136, 136);
  }
  .container.night .contactCheck {
    filter:grayscale(100%) brightness(1.25);
  }
  .container.night .contactCheckLine {
    border-bottom:15px solid  rgb(204, 204, 204);
  }
  .container.night .submitContactCancel {
    filter:contrast(0);
  }
  .container.night .afterContactText {
    color: rgb(151, 151, 151);
  }

  .container.night .shortcut {
    color:rgb(197, 197, 197);
  }
  .container.night kbd {
    background-color: rgb(26, 26, 26);
    border: 1.5px solid #4d4d4d;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2), 0 2px 0 0 rgba(0, 0, 0, 0.7) inset;
    color: rgb(221, 221, 221);
  }
  .container.night .shortcutCancel {
    filter:contrast(0);
  }
  .container.night .shortcutContainerShadow {
    background:linear-gradient(to bottom,rgb(19, 19, 19),rgba(19, 19, 19, 0));
  }
  .container.night #shortcutBottom {
    background:linear-gradient(to top,rgb(19, 19, 19),rgba(19, 19, 19, 0));
  }
  
  .container.night .navBar {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 0px rgb(0, 0, 0);
  }
  .container.night .navBar.active {
    left:0px;
    box-shadow:3px 0px 5px rgb(0, 0, 0);
  }
  .container.night .baseNavBar {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 0px rgb(95, 95, 95);
  }
  .container.night .baseNavBar.active {
    left:0px;
    box-shadow:3px 0px 5px rgb(95, 95, 95);
  }
  .container.night .importText {
    color:rgb(204, 204, 204);
  }
  .container.night .importImage {
    filter:brightness(115%);
  }
  .container.night .sideContainerHeader {
    text-shadow:0 0 1px rgb(199, 199, 199);
  }
  .container.night .sideMenuBtn {
    background:rgb(19, 19, 19);
  }
  .container.night .sideMenuBtn.active {
    background:rgb(31, 31, 31);
  }
  .container.night .switchContainer {
    background-color:rgb(78, 78, 78);
    box-shadow:0px 0px 10px rgb(78, 78, 78);
  }
  .container.night .switch {
    background-color:rgb(226, 226, 226);
  }
  .container.night .switchContainer.active {
    background-color:rgb(61, 61, 61);
    box-shadow:0px 0px 0px rgb(61, 61, 61);
  }
  .container.night .switchContainer.active .switch {
    background-color:rgb(204, 204, 204);
  } 

  .container.night .sideContainer.active #sidecontainerheader1 .sideHeader, .container.night #sidecontainerheader1:hover .sideHeader {
    color: rgb(149, 213, 218);
    text-shadow: 0 0 4px rgb(149, 213, 218);
  }
  .container.night .sideContainer.active #sidecontainerheader2 .sideHeader, .container.night #sidecontainerheader2:hover .sideHeader {
    color: rgb(152, 120, 152);
    text-shadow: 0 0 4px rgb(152, 120, 152);
  }
  .container.night .sideContainer.active #sidecontainerheader3 .sideHeader, .container.night #sidecontainerheader3:hover .sideHeader {
    color: rgb(167, 223, 188);
    text-shadow: 0 0 4px rgb(167, 223, 188);
  }
  .container.night .sideContainer.active #sidecontainerheader4 .sideHeader, .container.night #sidecontainerheader4:hover .sideHeader {
    color: rgb(207, 197, 152);
    text-shadow: 0 0 4px rgb(207, 197, 152);
  }

  .container.night .sideContainer.active #optionimage1 {
    filter:brightness(1) sepia(100%) hue-rotate(140deg) drop-shadow(0 0 2px rgb(149, 213, 218));
  }
  .container.night .sideContainer.active #optionimage2 {
    filter:brightness(1) sepia(100%) hue-rotate(250deg) drop-shadow(0 0 2px rgb(128, 106, 136));
  }
  .container.night .sideContainer.active #optionimage3 {
    filter:brightness(1) sepia(100%) hue-rotate(100deg) drop-shadow(0 0 2px rgb(167, 223, 188));
  }
  .container.night .sideContainer.active #optionimage4 {
    filter:brightness(1) sepia(100%) hue-rotate(0deg) drop-shadow(0 0 2px rgb(207, 197, 152));
  }

  .container.night .sideContainer.active #optiondecor1 {
    box-shadow:0 0 5px rgb(149, 213, 218);
  }
  .container.night .sideContainer.active #optiondecor2 {
    box-shadow:0 0 5px rgb(128, 106, 136);
  }
  .container.night .sideContainer.active #optiondecor3 {
    box-shadow:0 0 5px rgb(167, 223, 188);
  }
  .container.night .sideContainer.active #optiondecor4 {
    box-shadow:0 0 5px rgb(207, 197, 152);
  }

  .container.night .colorViewer {
    border: thin solid rgb(109, 109, 109);
  }
  .container.night .customColorPicker {
    background-color:rgb(49, 49, 49);
    box-shadow:0px 0px 10px rgb(49, 49, 49);
  }
  .container.night .defaultColor:hover,
  .container.night .previewColor:hover {
    color:rgb(173, 173, 173);
  }
  .container.night .swatch {
    border:thin solid rgb(92, 92, 92);
  }
  .container.night .colorInputLabel {
    background:rgb(70, 70, 70);
    box-shadow:inset 0 0 5px rgb(59, 59, 59);
  }
  .container.night .hashTag {
    color:rgb(213, 215, 219);
  }
  .container.night .colorInput {
    border: thin solid rgb(51, 51, 51);
    background:rgb(73, 73, 73);
    color: rgb(211, 211, 211);
  }

  .container.night .brightnessSlider,
  .container.night .hueSlider {
    border:thin solid rgb(77, 77, 77);
  }
  .container.night .colorTester {
    border:thin solid rgb(68, 68, 68);
    box-shadow:0 0 10px rgb(90, 90, 90);
  }

  .container.night .sizeSlider {
    background:linear-gradient(to right, rgb(231, 246, 248) 0%, rgb(189, 189, 189) 50%, rgb(87, 87, 87) 100%);
  }
  .container.night .sizeSlider::-webkit-slider-thumb {
    background: radial-gradient(rgb(231, 246, 248) 0%, rgb(158, 231, 144) 100%);
    border: thin solid rgb(65, 65, 65);
    box-shadow:0 0 10px rgb(158, 231, 144);
  }
  .container.night .sliderNumber {
    color: rgb(175, 175, 175);
  }

  .container.night .themeGrid {
    box-shadow:0 0 10px rgb(44, 44, 44);
  }
  .container.night .themeImage {
    box-shadow:0 0 10px rgb(88, 88, 88);
  }
  .container.night .themeSelect {
    border:1px solid rgb(90, 90, 90);
  }
  .container.night .themeContainer.active .themeSelectText {
    color: rgb(113, 154, 207);
  }
  .container.night .themeGrid::-webkit-scrollbar-track {
    background:none;
  }
  .container.night .themeGrid::-webkit-scrollbar-thumb {
    background-color: rgb(15, 15, 15);
  }

  .container.night .saveBox, .container.night .resetPreferences  {
    box-shadow: 2px 2px 7px rgb(8, 8, 8), -2px -2px 7px rgb(34, 34, 34);
  }
  .container.night .saveBox:hover .saveText, .container.night .resetPreferences:hover {
    color: rgb(134, 174, 207);
  }

  .container.night .saveConfirm {
    background-color: rgb(41, 41, 41);
    box-shadow: 0 0 10px rgb(49, 49, 49);
    border:2px solid rgb(29, 29, 29);
  }
  .container.night .saveConfirmBtn:nth-child(2):hover {
    background-color:rgb(73, 59, 59);
  }
  .container.night .saveConfirmBtn:nth-child(3):hover {
    background-color:rgb(44, 54, 44);
  }
  .container.night .saveConfirmBtn:nth-child(3) {
    border-left:thin solid rgb(67, 69, 73);
  }
  
  .container.night .sideNightContainer {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 30px -25px lightgray;
  }

  .container.night .hotbar {
    box-shadow: 5px 5px 7px rgb(32, 32, 32), -5px -5px 7px rgb(0, 0, 0);
  }
  .container.night .hotbarIcon {
    filter:brightness(2) opacity(0.5);
  }
  .container.night .hotbarIconTooltip {
    color:rgb(255, 255, 255);  
  }
  .container.night .recentPlaceholder, .container.night .popularPlaceholder {
    color:rgba(255, 255, 255, 0.5);  
  } 
  .container.night .hotbarLink {
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
  }

  .container.night .searchBar {
    color: rgb(194, 194, 194);
    box-shadow: 5px 5px 7px rgb(32, 32, 32), -5px -5px 7px rgb(0, 0, 0);
  }
  .container.night .searchBar:focus {
    box-shadow: 5px 5px 7px rgb(0, 0, 0), -5px -5px 7px rgb(32, 32, 32);
  }

  .container.night ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(156, 156, 156);
    opacity: 1; /* Firefox */
  }
  .container.night :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(156, 156, 156);
  }
  .container.night ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(156, 156, 156);
  }

  .container.night .dropTabBox {
    background:linear-gradient(to right, rgb(19, 19, 19) 0%,rgb(46, 46, 46) 100%);
  }
  .container.night .dropTabText {
    color: rgb(168, 168, 168);
  }
  .container.night .dropLinkBox {
    background:linear-gradient(to right, rgb(19, 19, 19) 0%,rgb(37, 37, 37) 100%);
  }
  .container.night .dropLinkText {
    color: rgb(0, 0, 0);
  }

  .container.night .navBtns {
    background-color:rgba(56, 56, 56, 0.363);
  }
  .container.night .navBtnWrapper.active .navBtns {
    background:rgb(19, 19, 19);
  }
  .container.night .leftTabArrow, .container.night .rightTabArrow {
    box-shadow: 5px 5px 7px rgb(0, 0, 0), -5px -5px 7px rgb(32, 32, 32);
    filter:grayscale(100%);
  }

  .container.night .grid {
    background:rgb(19, 19, 19);
    box-shadow: 4px 4px 10px rgb(32, 32, 32), -4px -4px 10px rgb(0, 0, 0);
  }
  .container.night .grid.erase .linkBox:hover .linkImg {
    filter:drop-shadow(0 0 0px rgb(131, 60, 60));
  }
  .container.night .addLinkGrid {
    border:3px solid rgb(65, 65, 65);
  }
  .container.night .addLinkGridImage {
    filter:contrast(0);
  }

  .container.night .modContainer, .container.night .modBoxConfirm {
    box-shadow:5px 5px 5px rgba(0, 0, 0, 0.678);
  }

  .container.night .dot:nth-child(1) { background-color:rgb(139, 139, 139)}
  .container.night .dot:nth-child(2) { background-color:rgb(139, 139, 139)}
  .container.night .dot:nth-child(3) { background-color:rgb(139, 139, 139)}
  .container.night .dot:nth-child(4) { background-color:rgb(139, 139, 139)}

  .container.night .tabEraseConfirm {
    background-color: rgb(41, 41, 41);
    box-shadow: 0 0 10px rgb(0, 0, 0);
    border:2px solid rgb(29, 29, 29);
  }
  .container.night .tabEraseConfirmBtn:nth-child(2):hover {
    background-color:rgb(73, 59, 59);
  }
  .container.night .tabEraseConfirmBtn:nth-child(3):hover {
    background-color:rgb(44, 54, 44);
  }
  .container.night .tabEraseConfirmBtn:nth-child(3) {
    border-left:thin solid rgb(67, 69, 73);
  }
  .container.night .sk-chase-dot:before {
    background-color: rgb(173, 173, 173);
    box-shadow:0 0 12px rgb(173, 173, 173);
  }

  .container.night .nightContainer {
    box-shadow:0px 0px 5px white;
  }

  .container.night .linkFormDiv {
    background-color: rgb(34, 34, 34);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
  }
  .container.night .linkFormDiv::-webkit-scrollbar-track {
    background:none;
  }
  .container.night .linkFormDiv::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
  }
  .container.night .linkFormDiv h1 {
    color:rgba(248, 248, 248, 0.781);
    text-shadow:0 0 10px black;
  }

  .container.night .selectTabText {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.night .selectTabChosen:hover .selectTabText{ color:rgb(175, 189, 201) }
  .container.night .selectTabArrow {
    border-bottom:2px solid rgba(248, 248, 248, 0.781);
    border-right:2px solid rgba(248, 248, 248, 0.781);
  }
  .container.night .selectTabChosen:hover .selectTabArrow {
    border-bottom:2px solid rgb(175, 189, 201);
    border-right:2px solid rgb(175, 189, 201);
  }
  .container.night .selectTab.active .selectTabChosen:hover .selectTabArrow {
    border-bottom:2px solid rgb(175, 189, 201);
    border-right:2px solid rgb(175, 189, 201);
  }
  .container.night .selectTabList {
    background-color: rgb(51, 51, 51);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
  }
  .container.night .selectTabItem {
    color:rgba(248, 248, 248, 0.781);
    border-bottom:thin solid rgb(98, 98, 98);
  }
  .container.night .selectTab.active .selectTabItem:hover {
    color:rgb(160, 160, 160);
  }
  .container.night .selectTabList::-webkit-scrollbar-track {
    background:rgb(75, 75, 75);
  }
  .container.night .selectTabList::-webkit-scrollbar-thumb {
    background:rgb(29, 29, 29);
  }

  .container.night .linkFormDiv input[type=text] {
    border-bottom:1px solid rgba(248, 248, 248, 0.781);
    color:rgba(248, 248, 248, 0.781);
  }

  .container.night .linkFormDiv label {
    color:rgba(248, 248, 248, 0.781);
    text-shadow:0 0 4px black;
  }

  .container.night .defaultImg {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  .container.night .imgContainer .imgLabel {
    color:rgba(248, 248, 248, 0.781);
    text-shadow:0 0 4px black;
  }
  .container.night .imgContainer.active .imgLabel {
    color:rgba(87, 125, 190, 0.8);
    border-bottom:thin solid rgba(87, 125, 190, 0.8);
  }
  .container.night .imageAddress.active {
    color:rgba(87, 125, 190, 0.8);
  }
  .container.night .clearImg {
    color:rgb(189, 189, 189);
  }
  .container.night .previewBox {
    background-color: rgb(34, 34, 34);
    box-shadow:0px 0px 15px rgb(0, 0, 0);
  }
  .container.night .imgAddressInput:focus + .previewBox {
    margin-left:21rem;
    opacity:1;
  }
  .container.night .linkFormDiv button.submit {
    background: rgba(248, 248, 248, 0.781);
    color: rgb(68, 75, 87);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.781);
  }
  .container.night .linkFormDiv button.submit:hover {
    background: rgba(250, 250, 250, 0.781);
    letter-spacing:1px;
    color: rgb(26, 51, 122);
  }
  .container.night .addLinkCancel {
    box-shadow:none;
    filter:contrast(0);
  }

  .container.night .suggestionWrapper {
    background-color: rgb(34, 34, 34);
    box-shadow:0px 0px 10px rgb(0, 0, 0);
  }
  .container.night  .suggestionLink {
      color:rgb(206, 206, 206);
  }
  .container.night .suggestionLink:focus,
  .container.night .suggestionLink:hover {
      color:rgb(85, 114, 168);
      font-size:18px;
  }
  .container.night .suggestionTitle {
    color:rgb(206, 206, 206);
  }
  .container.night .suggestionTitle:focus,
  .container.night .suggestionTitle:hover {
      color:rgb(85, 114, 168);
      font-size:18px;
  }

  .container.night .addTabPlus {
    filter:contrast(0) brightness(1.5);
  }
  .container.night .tabCancel, .container.night .tabSubmit {
    filter:grayscale(100%);
    box-shadow: 4px 4px 4px rgb(0, 0, 0), -4px -4px 4px rgb(32, 32, 32);
  }
  .container.night .editTabDiv {
    background:rgb(12, 12, 12);
  }

  .container.night .bookmarkBox {
    background-color: rgb(34, 34, 34);
    box-shadow:0px 0px 20px rgb(0, 0, 0);
  }
  .container.night .bookmarkHead {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.night .openFileButton {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.356), -4px -4px 4px rgb(32, 32, 32);
  }
  .container.night .bookmarkCancel {
    filter: brightness(2) opacity(0.8);
  }

  .container.night .selectAll {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.night .selectAll:hover {
    color:rgba(190, 197, 209, 0.8);
  }
  .container.night .confirmBookmark {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.night .confirmBookmark:hover {
    color:rgba(190, 197, 209, 0.8);
  }

  .container.night .itemContainer {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.night .itemContainer:hover .bookmarkItem {
    color:rgba(143, 174, 224, 0.8);
  }

  .container.night .bookmarkBox::-webkit-scrollbar-thumb {
    background-color: #0f0f0f;
  }

  .container.night .teachHeader {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.night .teachHeaderLine {
    background-color:rgba(248, 248, 248, 0.781);
  }
  .container.night .teachSteps {
    color: rgba(248, 248, 248, 0.781);
  }
  .container.night .openFileButton {
    color: rgba(248, 248, 248, 0.781);
  }

  .container.night .linkContextMenuWrapper {
    background:rgb(19, 19, 19);
    box-shadow: 4px 4px 10px rgb(32, 32, 32), -4px -4px 10px rgb(0, 0, 0);
  }
  .container.night .linkContextMenuButton {
    box-shadow: 3px 3px 10px rgb(32, 32, 32), -3px -3px 10px rgb(0, 0, 0);
  }
  .container.night .linkContextMenuOptionText, .linkContextMenuButtonText {
    color:rgb(204, 204, 204);
  }
  .container.night .linkContextMenuDivider {
    background-color:rgb(204, 204, 204);
  }
  .container.night .linkContextMenuEraseHeader {
    color:rgb(204, 204, 204);
  }