  .nightContainer {
    position:absolute;
    text-align:center;
    max-height:35px;
    top:1.2rem;
    right:1.2rem;
    opacity:1;
    background:lightblue;
    border-radius:50px;
    padding:14px 6px 14px 16px;
    box-shadow:0px 0px 10px lightblue;
    pointer-events:all;
    cursor:pointer;
    transition:0.5s;
    animation:nightSwitch 3s ease-out;
  }
  .nightContainer .nightSwitch {
    position:absolute;
    bottom:7%;
    transform:translateX(108%);
    background-color:white;
    border-radius:100%;
    width:30px;
    height:30px;
    cursor:pointer;
    transition:0.5s;
  }
  .nightContainer .nightImg {
    box-shadow:none;
    width:25px;
    height:25px;
    margin-top:-9px;
    margin-left:-10px;
  }
  .nightContainer.active {
    background:gray;
  }
  .nightContainer.active .nightSwitch {
    transform:translateX(-40%);
  }

  .container.focus {
    background:rgb(14, 14, 14);
  }

  .container.focus ::-webkit-scrollbar-track {
    background:rgb(68, 68, 68);
  }
  .container.focus ::-webkit-scrollbar-thumb {
    background:linear-gradient(rgb(100, 100, 100) 0%, rgb(165, 165, 165) 100%);
  }

  .container.focus .letter {
    color:rgb(219, 219, 219);
    text-shadow:0px 0px 3px rgb(219, 219, 219);
  }

  .container.focus .navBar {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 0px rgb(95, 95, 95);
  }
  .container.focus .navBar.active {
    left:0px;
    box-shadow:3px 0px 5px rgb(95, 95, 95);
  }
  .container.focus .baseNavBar {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 0px rgb(95, 95, 95);
  }
  .container.focus .baseNavBar.active {
    left:0px;
    box-shadow:3px 0px 5px rgb(95, 95, 95);
  }
  .container.focus .importImage {
    filter:brightness(115%);
  }
  .container.focus .sideContainerHeader {
    text-shadow:0 0 1px rgb(199, 199, 199);
  }
  .container.focus .sideMenuBtn {
    background-color:rgb(14, 14, 14);
  }
  .container.focus .sideMenuBtn.active {
    background-color:rgb(31, 31, 31);
  }
  .container.focus .switchContainer {
    background-color:rgb(78, 78, 78);
    box-shadow:0px 0px 10px rgb(78, 78, 78);
  }
  .container.focus .switch {
    background-color:rgb(226, 226, 226);
  }
  .container.focus .switchContainer.active {
    background-color:rgb(61, 61, 61);
    box-shadow:0px 0px 0px rgb(61, 61, 61);
  }
  .container.focus .switchContainer.active .switch {
    background-color:rgb(204, 204, 204);
  }

  .container.focus .sideContainer.active .optionImage1 {
    filter:sepia(100%) hue-rotate(140deg) drop-shadow(0 0 2px rgb(149, 213, 218));
  }
  .container.focus .sideContainer.active .optionImage2 {
    filter:sepia(100%) hue-rotate(250deg) drop-shadow(0 0 2px rgb(128, 106, 136));
  }
  .container.focus .sideContainer.active .optionImage3 {
    filter:sepia(100%) hue-rotate(100deg) drop-shadow(0 0 2px rgb(167, 223, 188));
  }
  .container.focus .sideContainer.active .optionImage4 {
    filter:sepia(100%) drop-shadow(0 0 2px rgb(207, 197, 152));
  }

  .container.focus .sideContainer.active .optionDecor1 {
    filter: drop-shadow(0 0 5px rgb(149, 213, 218));
  }
  .container.focus .sideContainer.active .optionDecor2 {
    filter: drop-shadow(0 0 5px rgb(128, 106, 136));
  }
  .container.focus .sideContainer.active .optionDecor3 {
    filter: drop-shadow(0 0 5px rgb(167, 223, 188));
  }
  .container.focus .sideContainer.active .optionDecor4 {
    filter: drop-shadow(0 0 5px rgb(207, 197, 152));
  }

  .container.focus .colorViewer {
    border: thin solid rgb(109, 109, 109);
  }
  .container.focus .customColorPicker {
    background-color:rgb(49, 49, 49);
    box-shadow:0px 0px 10px rgb(49, 49, 49);
  }
  .container.focus .defaultColor:hover,
  .container.focus .previewColor:hover {
    color:rgb(173, 173, 173);
  }
  .container.focus .swatch {
    border:thin solid rgb(92, 92, 92);
  }
  .container.focus .colorInputLabel {
    background:rgb(70, 70, 70);
    box-shadow:inset 0 0 5px rgb(59, 59, 59);
  }
  .container.focus .hashTag {
    color:rgb(213, 215, 219);
  }
  .container.focus .colorInput {
    border: thin solid rgb(51, 51, 51);
    background:rgb(73, 73, 73);
    color: rgb(211, 211, 211);
  }

  .container.focus .brightnessSlider,
  .container.focus .hueSlider {
    border:thin solid rgb(77, 77, 77);
  }
  .container.focus .colorTester {
    border:thin solid rgb(68, 68, 68);
    box-shadow:0 0 10px rgb(90, 90, 90);
  }

  .container.focus .sizeSlider {
    background:linear-gradient(to right, rgb(231, 246, 248) 0%, rgb(189, 189, 189) 50%, rgb(87, 87, 87) 100%);
  }
  .container.focus .sizeSlider::-webkit-slider-thumb {
    background: radial-gradient(rgb(231, 246, 248) 0%, rgb(158, 231, 144) 100%);
    border: thin solid rgb(65, 65, 65);
    box-shadow:0 0 10px rgb(158, 231, 144);
  }
  .container.focus .sliderNumber {
    color: rgb(175, 175, 175);
  }

  .container.focus .themeGrid {
    box-shadow:0 0 10px rgb(44, 44, 44);
  }
  .container.focus .themeImage {
    box-shadow:0 0 10px rgb(88, 88, 88);
  }
  .container.focus .themeSelect {
    border:1px solid rgb(90, 90, 90);
  }

  .container.focus .saveBtn {
    background:rgb(46, 46, 46);
    box-shadow:0px 0px 7px rgb(46, 46, 46);
  }
  .container.focus .saveBox:hover .saveBtn {
    background:rgb(66, 66, 66);
  }
  .container.focus .saveText {
    color:rgb(204, 204, 204);
    background-color:rgb(14, 14, 14);
  }
  .container.focus .saveImg {
    filter:brightness(175%) grayscale(200%);
  }

  .container.focus .saveConfirm {
    background-color: rgb(41, 41, 41);
    box-shadow: 0 0 10px rgb(49, 49, 49);
    border:2px solid rgb(29, 29, 29);
  }
  .container.focus .saveConfirmBtn:nth-child(2):hover {
    background-color:rgb(73, 59, 59);
  }
  .container.focus .saveConfirmBtn:nth-child(3):hover {
    background-color:rgb(44, 54, 44);
  }
  .container.focus .saveConfirmBtn:nth-child(3) {
    border-left:thin solid rgb(67, 69, 73);
  }
  
  .container.focus .sideNightContainer {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 30px -25px lightgray;
  }

  .container.focus .profilePic {
    background-color:rgb(14, 14, 14);
    box-shadow:0px 0px 15px rgb(14, 14, 14);
  }

  .container.focus .profilePic p {
    color:rgb(214, 214, 214);
  }

  .container.focus .profilePic:hover p {
    text-shadow:0px 0px 10px rgb(249, 251, 253);
  }

  .container.focus .searchBar {
    color: rgb(194, 194, 194);
    background-color:rgb(51, 51, 51);
    box-shadow:3px 3px 20px rgb(0, 0, 0);
  }
  .container.focus .searchBar:focus {
    box-shadow:0px 0px 10px rgb(59, 59, 59);
  }

  .container.focus .searchBar:focus .buttonNav {
    background-color:black;
  }

  .container.focus ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(156, 156, 156);
    opacity: 1; /* Firefox */
  }
  
  .container.focus :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(194, 194, 194);
  }

  .container.focus ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(194, 194, 194);
  }

  .container.focus .navBtns {
    text-shadow:0 0 3px black;
  }

  .container.focus .navBtnBottom {
    box-shadow: 0px -6px 15px rgb(255, 255, 255);
  }

  .container.focus img {
    box-shadow:none;
  }
  .container.focus .linkNames {
    text-shadow: 0 0 3px rgb(14, 14, 14);
  }

  .container.focus .dropTabBox {
    background:linear-gradient(to right, rgb(14, 14, 14) 0%,rgb(46, 46, 46) 100%);
  }
  .container.focus .dropTabText {
    color: rgb(168, 168, 168);
  }
  .container.focus .dropLinkBox {
    background:linear-gradient(to right, rgb(14, 14, 14) 0%,rgb(37, 37, 37) 100%);
  }
  .container.focus .dropLinkText {
    color: rgb(168, 168, 168);
  }

  .container.focus .linkBox img {
    box-shadow: 0 0 20px rgb(77, 77, 77);
  }

  .container.focus .grid.active .linkBox:hover img {
    box-shadow:0px 0px 20px rgb(255, 155, 155);
  }

  .container.focus p {
    color:rgb(199, 199, 199);
  }

  .container.focus .addContainer {
    color:rgb(199, 199, 199);
  }
  .container.focus .addLink {
    box-shadow:none;
    color: rgb(194, 194, 194);
    background:rgb(49, 49, 49);
    box-shadow:0px 0px 5px rgb(63, 63, 63);
    letter-spacing:0.8px;
  }
  .container.focus .addSlider {
    box-shadow:0px 0px 5px rgb(63, 63, 63);
    background: rgb(61, 61, 61);
  }
  .container.focus .addSlider img {
    box-shadow:none;
    color:white;
  }
  .container.focus .addContainer:hover .addSlider {
    background:rgb(77, 77, 77);
  }
  .container.focus .plusImage {
    filter:brightness(135%) grayscale(200%);
  }

  .container.focus .modBtn {
    background:rgb(49, 49, 49);
    box-shadow:0px 0px 5px rgb(63, 63, 63);
  }
  .container.focus .modBox:nth-child(13):hover .modBtn {
    background:rgb(77, 91, 107);
    box-shadow:0px 0px 10px rgb(64, 80, 98), inset 0 0 40px rgb(57, 86, 121)
  }
  .container.focus .modBox:nth-child(14):hover .modBtn {
    background:rgb(102, 83, 83);
    box-shadow:0px 0px 10px rgb(97, 70, 70), inset 0 0 40px rgb(73, 49, 49);
  }
  .container.focus .modText {
    color: rgb(194, 194, 194);
  }
  .container.focus .modText:hover {
    font-size:15px;
    color:rgb(30, 91, 235);
  }
  .container.focus .modImg {
    filter:brightness(135%) grayscale(200%);
  }

  .container.focus .modBtnConfirm {
    background:rgb(49, 49, 49);
    box-shadow:0px 0px 5px rgb(63, 63, 63);
  }
  .container.focus .modBoxConfirm:hover .modBtnConfirm {
    background:rgb(56, 70, 56);
    box-shadow:0px 0px 10px rgb(56, 70, 56), inset 0 0 40px rgb(45, 58, 45);
  }
  .container.focus .modBoxConfirm.active .modImgConfirm {
    border-bottom:4.2px solid rgb(194, 194, 194);
    border-right:4.2px solid rgb(194, 194, 194);
  }
  .container.focus .modTextConfirm {
    color:rgb(194, 194, 194);
  }

  .container.focus .dot:nth-child(1) { background-color:rgb(139, 139, 139)}
  .container.focus .dot:nth-child(2) { background-color:rgb(139, 139, 139)}
  .container.focus .dot:nth-child(3) { background-color:rgb(139, 139, 139)}
  .container.focus .dot:nth-child(4) { background-color:rgb(139, 139, 139)}

  .container.focus .tabEraseConfirm {
    background-color: rgb(41, 41, 41);
    box-shadow: 0 0 10px rgb(49, 49, 49);
    border:2px solid rgb(29, 29, 29);
  }
  .container.focus .tabEraseConfirmBtn:nth-child(2):hover {
    background-color:rgb(73, 59, 59);
  }
  .container.focus .tabEraseConfirmBtn:nth-child(3):hover {
    background-color:rgb(44, 54, 44);
  }
  .container.focus .tabEraseConfirmBtn:nth-child(3) {
    border-left:thin solid rgb(67, 69, 73);
  }
  .container.focus .sk-chase-dot:before {
    background-color: rgb(173, 173, 173);
    box-shadow:0 0 12px rgb(173, 173, 173);
  }

  .container.focus .nightContainer {
    box-shadow:0px 0px 5px white;
  }

  .container.focus .addForm {
    background-color: rgb(34, 34, 34);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
  }

  .container.focus .addForm h1 {
    color:rgba(248, 248, 248, 0.781);
    text-shadow:0 0 10px black;
  }

  .container.focus .selectTabText {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .selectTabChosen:hover .selectTabText{ color:rgb(175, 189, 201) }
  .container.focus .selectTabArrow {
      border-bottom:2px solid rgba(248, 248, 248, 0.781);
      border-right:2px solid rgba(248, 248, 248, 0.781);
  }
  .container.focus .selectTabChosen:hover .selectTabArrow {
      border-bottom:2px solid rgb(175, 189, 201);
      border-right:2px solid rgb(175, 189, 201);
  }
  .container.focus .selectTab.active .selectTabChosen:hover .selectTabArrow {
      border-bottom:2px solid rgb(175, 189, 201);
      border-right:2px solid rgb(175, 189, 201);
  }
  .container.focus .selectTabList {
      background-color: rgb(51, 51, 51);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.623);
  }
  .container.focus .selectTabItem {
      color:rgba(248, 248, 248, 0.781);
      border-bottom:thin solid rgb(98, 98, 98);
  }
  .container.focus .selectTab.active .selectTabItem:hover {
      color:rgb(160, 160, 160);
  }
  .container.focus .selectTabList::-webkit-scrollbar-track {
      background:rgb(75, 75, 75);
  }
  .container.focus .selectTabList::-webkit-scrollbar-thumb {
      background:rgb(29, 29, 29);
  }

  .container.focus .addForm input[type=text] {
    border-bottom:1px solid rgba(248, 248, 248, 0.781);
    color:rgba(248, 248, 248, 0.781);
  }

  .container.focus .addForm label {
    color:rgba(248, 248, 248, 0.781);
    text-shadow:0 0 4px black;
  }

  .container.focus .defaultImg {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  .container.focus .imgContainer .imgLabel {
    color:rgba(248, 248, 248, 0.781);
    text-shadow:0 0 4px black;
  }
  .container.focus .imgContainer.active .imgLabel {
    color:rgba(87, 125, 190, 0.8);
    border-bottom:thin solid rgba(87, 125, 190, 0.8);
  }
  .container.focus .imageAddress.active {
    color:rgba(87, 125, 190, 0.8);
  }

  .container.focus .clearImg {
    color:rgb(189, 189, 189);
  }

  .container.focus .previewBox {
    background-color: rgb(34, 34, 34);
    box-shadow:0px 0px 15px rgb(0, 0, 0);
  }

  .container.focus .imgAddressInput:focus + .previewBox {
    margin-left:21rem;
    opacity:1;
  }

  .container.focus .addForm button.submit {
    background: rgba(248, 248, 248, 0.781);
    color: rgb(68, 75, 87);
    box-shadow:0px 0px 10px rgba(0, 0, 0, 0.781);
  }

  .container.focus .addForm button.submit:hover {
    background: rgba(250, 250, 250, 0.781);
    letter-spacing:1px;
    color: rgb(26, 51, 122);
  }

  .container.focus .addForm img {
    box-shadow:none;
  }

  .container.focus .suggestionList {
    background-color: rgb(34, 34, 34);
    box-shadow:0px 0px 15px rgb(46, 46, 46);
  }
  .container.focus  .suggestionLink {
      color:rgb(206, 206, 206);
  }
  .container.focus .suggestionLink:focus,
  .container.focus .suggestionLink:hover {
      color:rgb(85, 114, 168);
      font-size:18px;
  }
  .container.focus .suggestionTitle {
    color:rgb(206, 206, 206);
  }
  .container.focus .suggestionTitle:focus,
  .container.focus .suggestionTitle:hover {
      color:rgb(85, 114, 168);
      font-size:18px;
  }

  .container.focus .addTabPlus {
    box-shadow:none;
  }
  .container.focus .addTabPlus:focus,
  .container.focus .addTabPlus:hover {
    font-size:20px;
  }

  .container.focus .tabCancel {
    color: rgb(163, 163, 163);
  }
  .container.focus .tabCancel:hover {
    color:rgb(115, 153, 235);
  }

  .container.focus .tabSubmit {
    color: rgb(163, 163, 163);
  }
  .container.focus .tabSubmit:hover {
    color:rgb(115, 153, 235);
  }

  .tabInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(165, 165, 165);
  }

  .tabInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(165, 165, 165);
  }

  .tabInput::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(165, 165, 165);
  }

  .container.focus .bookmarkBox {
    background-color: rgb(34, 34, 34);
    box-shadow:0px 0px 20px rgba(179, 183, 189, 0.8);
  }
  .container.focus .bookmarkHead {
    color:rgba(248, 248, 248, 0.781);
  }

  .container.focus .selectAll {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .selectAll:hover {
    color:rgba(190, 197, 209, 0.8);
  }
  .container.focus .confirmBookmark {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .confirmBookmark:hover {
    color:rgba(190, 197, 209, 0.8);
  }

  .container.focus .itemContainer {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .itemContainer:hover .bookmarkItem {
    color:rgba(143, 174, 224, 0.8);
  }

  .container.focus .bookmarkBox::-webkit-scrollbar-thumb {
    background:rgba(200, 207, 221, 0.8);
    border-radius:20px;
  }
  .container.focus .bookmarkBox::-webkit-scrollbar-track {
    background:rgb(105, 105, 105);
  }

  .container.focus .teachHeader {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .teachHeaderLine {
    background-color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .teachSteps {
    color: rgba(248, 248, 248, 0.781);
  }
  .container.focus .openFileButton {
    color: rgba(248, 248, 248, 0.781);
  }



