  .nightContainer {
    position:absolute;
    text-align:center;
    max-height:35px;
    top:0.1rem;
    right:0.9rem;
    opacity:1;
    background:lightblue;
    border-radius:50px;
    padding:14px 6px 14px 16px;
    box-shadow:0px 0px 10px lightblue;
    pointer-events:all;
    cursor:pointer;
    transition:0.5s;
    animation:nightSwitch 3s ease-out;
  }

  .nightContainer .nightSwitch {
    position:absolute;
    bottom:7%;
    left:58%;
    background-color:white;
    border-radius:100%;
    width:30px;
    height:30px;
    cursor:pointer;
    transition:0.5s;
  }

  .nightContainer .nightImg {
    box-shadow:none;
    width:25px;
    height:25px;
    margin-top:-9px;
    margin-left:-10px;
  }

  .nightContainer.active {
    background:gray;
  }

  .nightContainer.active .nightSwitch {
    left:6%;
  }

  .container.focus {
    background-color:rgb(14, 14, 14);
  }

  .container.focus .letter {
    color:rgb(219, 219, 219);
    text-shadow:0px 0px 3px rgb(219, 219, 219);
  }

  .container.focus .navBar {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 0px rgb(95, 95, 95);
  }
  .container.focus .navBar.active {
    left:0px;
    box-shadow:3px 0px 5px rgb(95, 95, 95);
  }
  .container.focus .baseNavBar {
    background-color:rgb(31, 31, 31);
    box-shadow:0px 0px 0px rgb(95, 95, 95);
  }
  .container.focus .baseNavBar.active {
    left:0px;
    box-shadow:3px 0px 5px rgb(95, 95, 95);
  }

  .container.focus .profilePic {
    background-color:rgb(14, 14, 14);
    box-shadow:0px 0px 15px rgb(14, 14, 14);
  }

  .container.focus .profilePic p {
    color:whitesmoke;
  }

  .container.focus .profilePic:hover p {
    font-size:17px;
    text-shadow:0px 0px 10px rgb(249, 251, 253);
  }
  .container.focus .modBtn {
    background:rgb(219, 219, 219);
    box-shadow:0px 0px 10px rgb(219, 219, 219);
  }
  .container.focus .modBox:nth-child(3):hover .modBtn {
    background:rgb(216, 236, 255);
  }
  .container.focus .modBox:nth-child(4):hover .modBtn {
    background:rgb(255, 239, 239);
  }
  .container.focus .modText {
    color:rgb(219, 219, 219);
  }
  .container.focus .modText:hover {
    font-size:15px;
    color:rgb(148, 174, 235);
  }
  .container.focus .modBox.active .modText {
    display:block;
  }
  .container.focus .modBox.focus .modText {
    display:block;
  }

  .container.focus .searchBar {
    background-color:rgb(51, 51, 51);
    box-shadow:0px 0px 10px rgb(59, 59, 59);
  }

  .container.focus .searchBar:focus {
    outline:none;
    box-shadow:3px 3px 20px rgb(152, 185, 255);
  }

  .container.focus .searchBar:focus .buttonNav {
    background-color:black;
  }

  .container.focus ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(194, 194, 194);
    opacity: 1; /* Firefox */
  }
  
  .container.focus :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(194, 194, 194);
  }

  .container.focus ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(194, 194, 194);
  }

  .container.focus .navBtns {
    text-shadow:none;
  }

  .container.focus .navBtnBottom {
    box-shadow: 0px -6px 15px rgb(255, 255, 255);
  }

  .container.focus img {
    box-shadow:none;
  }

  .container.focus .linkBox img {
    box-shadow: 0px 0px 20px rgb(77, 77, 77);
  }

  .container.focus .linkBox:hover img {
    box-shadow:0px 0px 20px rgb(49, 168, 248);
  }

  .container.focus .grid.active .linkBox:hover img {
    box-shadow:0px 0px 20px rgb(255, 155, 155);
  }

  .container.focus p {
    color:rgb(199, 199, 199);
  }

  .container.focus .addContainer {
    color:rgb(199, 199, 199);
  }

  .container.focus .addLink {
    box-shadow:none;
    color: rgb(194, 194, 194);
    background:rgb(49, 49, 49);
    box-shadow:0px 0px 5px rgb(63, 63, 63);
    letter-spacing:0.8px;
  }

  .container.focus .addSlider {
    box-shadow:0px 0px 5px rgb(63, 63, 63);
    background: rgb(61, 61, 61);
  }

  .container.focus .addSlider img {
    box-shadow:none;
    color:white;
  }

  .container.focus .addContainer:hover .addSlider {
    background:rgb(65, 65, 65);
  }

  .container.focus .modBtn {
    background:rgb(49, 49, 49);
    box-shadow:0px 0px 5px rgb(63, 63, 63);
  }
  .container.focus .modBox:nth-child(13):hover .modBtn {
    background:rgb(77, 91, 107);
    box-shadow:0px 0px 10px rgb(77, 91, 107);
  }
  .container.focus .modBox:nth-child(14):hover .modBtn {
    background:rgb(102, 83, 83);
    box-shadow:0px 0px 10px rgb(102, 83, 83);
  }
  .container.focus .modText {
    color: rgb(194, 194, 194);
  }
  .container.focus .modText:hover {
    font-size:15px;
    color:rgb(30, 91, 235);
  }

  .container.focus .modBtnConfirm {
    background:rgb(49, 49, 49);
    box-shadow:0px 0px 5px rgb(63, 63, 63);
  }
  .container.focus .modBoxConfirm:hover .modBtnConfirm {
    background:rgb(56, 70, 56);
    box-shadow:0px 0px 10px rgb(56, 70, 56);
  }
  .container.focus .modBoxConfirm.active .modImgConfirm {
    border-bottom:4.2px solid rgb(194, 194, 194);
    border-right:4.2px solid rgb(194, 194, 194);
  }
  .container.focus .modTextConfirm {
    color:rgb(194, 194, 194);
  }

  .container.focus .dot:nth-child(1) { background-color:rgb(139, 139, 139)}
  .container.focus .dot:nth-child(2) { background-color:rgb(139, 139, 139)}
  .container.focus .dot:nth-child(3) { background-color:rgb(139, 139, 139)}
  .container.focus .dot:nth-child(4) { background-color:rgb(139, 139, 139)}

  .container.focus .nightContainer {
    box-shadow:0px 0px 5px white;
  }

  .container.focus .addForm {
    background-color: rgb(34, 34, 34);
}

  .container.focus .addForm h1 {
    color:rgba(248, 248, 248, 0.781);
  }

  .container.focus .addForm input[type=text] {
    border-bottom:1px solid rgba(248, 248, 248, 0.781);
    color:rgba(248, 248, 248, 0.781);
  }

  .container.focus .addForm label {
    color:rgba(248, 248, 248, 0.781);
  }

  .container.focus .imgContainer .imgLabel {
    color:rgba(248, 248, 248, 0.781);
  }

  .container.focus .imgContainer.active .imgLabel {
    color:rgba(87, 125, 190, 0.8);
    border-bottom:thin solid rgba(87, 125, 190, 0.8);
  }

  .container.focus .clearImg {
    color:rgb(189, 189, 189);
  }

  .container.focus .previewBox {
    background-color: rgb(34, 34, 34);
    box-shadow: 0 0 10px rgb(246, 247, 253);
  }

  .container.focus .imgAddressInput:focus + .previewBox {
    margin-left:21rem;
    opacity:1;
  }

  .container.focus .addForm button.submit {
    background: rgba(248, 248, 248, 0.781);
    color: rgb(68, 75, 87);
    box-shadow:0px 0px 5px rgba(248, 248, 248, 0.781);
  }

  .container.focus .addForm button.submit:hover {
    background: rgba(250, 250, 250, 0.781);
    letter-spacing:1px;
    color: rgb(26, 51, 122);
  }

  .container.focus .addForm img {
    box-shadow:none;
  }

  .container.focus .addTabPlus {
    box-shadow:none;
  }
  .container.focus .addTabPlus:focus,
  .container.focus .addTabPlus:hover {
    font-size:20px;
  }

  .container.focus .tabCancel {
    color: rgb(163, 163, 163);
  }
  .container.focus .tabCancel:hover {
    color:rgb(115, 153, 235);
  }

  .container.focus .tabSubmit {
    color: rgb(163, 163, 163);
  }
  .container.focus .tabSubmit:hover {
    color:rgb(115, 153, 235);
  }

  .tabInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(165, 165, 165);
  }

  .tabInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(165, 165, 165);
  }

  .tabInput::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(165, 165, 165);
  }

  .container.focus .bookmarkBox {
    background-color: rgb(34, 34, 34);
    box-shadow:0px 0px 20px rgba(179, 183, 189, 0.8);
  }
  .container.focus .bookmarkHead {
    color:rgba(248, 248, 248, 0.781);
  }

  .container.focus .selectAll {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .selectAll:hover {
    color:rgba(190, 197, 209, 0.8);
  }
  .container.focus .confirmBookmark {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .confirmBookmark:hover {
    color:rgba(190, 197, 209, 0.8);
  }

  .container.focus .itemContainer {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .itemContainer:hover .bookmarkItem {
    color:rgba(143, 174, 224, 0.8);
  }

  .container.focus .bookmarkBox::-webkit-scrollbar-thumb {
    background:rgba(200, 207, 221, 0.8);
    border-radius:20px;
  }
  .container.focus .bookmarkBox::-webkit-scrollbar-track {
    background:rgb(105, 105, 105);
  }

  .container.focus .teachHeader {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .teachHeaderLine {
    background-color:rgba(248, 248, 248, 0.781);
  }
  .container.focus .teachSteps {
    color: rgba(248, 248, 248, 0.781);
  }
  .container.focus .openFileButton {
    color: rgba(248, 248, 248, 0.781);
  }



