.profileWrapper {
    position:fixed;
    top:30px;
    right:30px;
    height:80px;
    width:80px;
    transition:top 0.4s ease-in 0.1s, right 0.4s ease-out, height 0.8s, width 0.8s;
    z-index:7;
    border-radius:30px;
}
.profileWrapper.active {
    top:25px;
    right:30px;
    width:270px;
    height:240px;
}
.profileWrapper.contact {
    top:50px;
    right:10px;
    height:364px;
    width:406px;
}
.profileWrapper.shortcut {
    top:30px;
    right:30px;
    height:378px;
    width:336px;
}

.profileRelative {
    position:relative;
    width:100%;
    height:100%;
    border-radius:38px;
    background:rgb(232, 238, 247);
    box-shadow:0 0 0px lightgray;
    transform: rotateY(0deg) rotateZ(0deg) scale(1);
    transform-style: preserve-3d;
    transition:height 0.4s ease-in 0.1s, width 0.4s ease-out,
        box-shadow 1s ease-out, background-color 0.8s, transform 0.8s;
}
.profileWrapper.active .profileRelative {
    box-shadow: 7px 7px 7px rgb(200,212,229), -7px -7px 7px rgb(255, 255, 255);
}
.profileWrapper.contact .profileRelative {
    transform: rotateY(180deg) rotateZ(90deg);
}
.profileWrapper.shortcut .profileRelative {
    transform: rotateY(180deg);
}
.profileWrapper.contact .shortcutDiv, .profileWrapper.shortcut .contactDiv {
    display:none;
}
.profileWrapper.contact .profileIcon,
.profileWrapper.shortcut .profileIcon {
    opacity:0;
}
.profileWrapper.contact .profileOption, .profileWrapper.shortcut .profileOption,
.profileWrapper.contact .profilePic, .profileWrapper.shortcut .profilePic,
.profileWrapper.contact #signouttext, .profileWrapper.shortcut #signouttext,
.profileWrapper.contact .profileDiv, .profileWrapper.shortcut .profileDiv {
    pointer-events:none;
}

.profileDiv {
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    border-radius:38px;
    transition:0.8s;
}
.profilePic {
    position:absolute;
    top:0px;
    right:0px;
    z-index:5;
    border-radius:100px;
    box-shadow:none;
    width:80px; height:auto;
    margin:0;
    box-shadow:0 0 0px lightgray;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    filter:contrast(0.4) sepia(100%) hue-rotate(180deg) brightness(1.5);
    transition: 0.4s;
}
.profileWrapper.active .profilePic {
    top:12px;
    right:12px;
}
.profilePic.active {
    filter:none;
    box-shadow: 0 0 5px lightgray;
}

.signInText {
    position:fixed;
    padding:10px;
    top:10px; left:-120px;
    color: rgb(126, 143, 173);
    font-size:22px;
    cursor:pointer;
    white-space:nowrap;
    transition:0.4s;
    opacity:0;
    pointer-events:none;
}
.signInText.active {
    opacity:1;
    right:70px;
    pointer-events:all;
}
.profileDiv:hover .signInText {
    letter-spacing:1.5px;
}
.signOutText {
    position:relative;
    text-align:left;
    white-space:nowrap;
    margin:30px 0 0 25px;
    padding:5px;
    color:rgb(122, 103, 103);
    font-size:20px;
    cursor:pointer;
    opacity:0;
    transition:opacity 0.4s, color 0.8s;
    letter-spacing:1px;
    pointer-events:none;
}
.profileWrapper.active .signOutText {
    opacity:1;
    pointer-events:all;
}

.profileList {
    width:100%;
    height:200px;
    list-style: none;
    margin:36px 0 0 10px;
    white-space: nowrap;
    opacity:0;
    transition:0.4s;
    pointer-events:none;
}
.profileWrapper.active .profileList {
    opacity:1;
    pointer-events:all;
}
.profileOption {
    width:100%;
    height:55px;
    padding:10px 0 10px 18px;
    text-align:left;
    cursor:pointer;
    transition:transform 0.3s;
    transform:scale(1);
    transform-origin: 0;
}
.profileOption:hover {
    transform:scale(1.05);
}
.profileIcon {
    height:30px;
    padding:0.5% 0;
    box-shadow:none;
    filter:contrast(0) sepia(100%) hue-rotate(180deg);
    border-radius:0;
    transition:opacity 0.5s;
}
.profileIcon:nth-child(1) {
    width:40px;
}
.profileText {
    display:inline-block;
    height:auto; margin:auto;
    color:rgb(132, 143, 163);
    font-size:20px;
    transform:translateY(-7px);
    transition:color 0.8s;
    text-align:left;
    margin-left:20px;
    overflow:visible;
}

.contactDiv {
    position:absolute;
    display:block;
    width:100%;
    height:100%;
    margin:14px;
    overflow:hidden;
    transform:rotateY(180deg);
    opacity:0;
    pointer-events: none;
    transition:opacity 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.profileWrapper.contact .contactDiv {
    opacity: 1;
    pointer-events:all;
}
.contactText {
    position:relative;
    height:auto;
    margin:152px 0 0 175px;
    padding:0 9px;
    width:90%;
    font-size:20px;
    font-weight:500;
    text-align:left;
    transform:rotate(90deg);
    opacity: 1;
    pointer-events: all;
    color: rgb(93, 104, 126);
    white-space:nowrap;
    transition:opacity 0.3s, color 0.8s;
}
.contactForm {
    position:relative;
    transform:rotate(90deg);
    margin-left:-70px;
    margin-top:-108px;
    opacity: 1;
    pointer-events: all;
    transition:0.3s;
}
.contactForm.hide,
.contactText.hide {
    opacity: 0;
    pointer-events: none;
}
.contactLabel {
    position:relative;
    width:70%;
    height:auto;
    margin:0;
    text-align:left;
    font-size:18px;
    color: rgb(119, 131, 153);
    transition:0.8s;
}
.contactEmail {
    position:relative;
    border-bottom:thin solid rgb(127, 139, 163);
    font-size:19px;
    margin: 9px 0 21px -152px;
    width:301px;
    color: rgb(88, 98, 119);
    transition:0.8s;
}
.emailError {
    position:absolute;
    font-size:17px;
    color:rgb(139, 98, 98);
    right:168px;
    top:63px;
    opacity:0;
    transition:opacity 0.2s, color 0.8s;
}
.emailError.active {
    opacity:1;
}
.contactMessage {
    position:relative;
    border:thin solid rgb(127, 139, 163);
    height:auto;
    width:301px;
    height:98px;
    margin: 14px 152px 0 0;
    font-size:18px;
    resize: none;
    border-radius:7px;
    padding: 7px;
    color: rgb(112, 121, 136);
    transition:0.8s;
}
.contactButton {
    position:relative;
    padding: 18px;
    right:15px;
    font-size:21px;
    color: rgb(93, 104, 126);
    cursor:pointer;
    transition:transform 0.3s, color 0.8s, opacity 0.3s;
    opacity: 1;
    pointer-events: all;
}
.contactButton:hover {
    transform:scale(1.1);
}
.contactButton:nth-child(8) {
    color:rgb(139, 98, 98);
}
.contactButton.hide {
    opacity: 0;
    pointer-events: none;
}
.submitContactDiv {
    position:absolute;
    top: 28px; left: 67px;
    width:308px;
    height:280px;
    transform:rotateZ(90deg);
    pointer-events:none;
}
.contactCheck {
    position:absolute;
    display:none;
    width:70px; height:50px;
    top:50%; left:50%;
    transform:translate(-50%, -50%);
    transform-origin:0% 0%;
    filter:saturate(300%) brightness(0.45);
    animation: contactCheckPulse 2s;
    transition:0.8s;
}
.submitContactDiv.active .contactCheck {
    display:block;
    transform:translate(-180%, -50%);
}
.contactCheckEffects {
    position:absolute;
    width:182px; height:182px;
    border-radius:100%;
    left:20%; top:11%;
}
.contactCheckLine {
    position:absolute;
    height:1.5px; width:1.5px;
    background:black;
    border-bottom:21px solid  rgb(63, 80, 117);
    display:none;
    transition:0.8s;
}
.submitContactDiv.active .contactCheckLine {
    display:block;
}
.contactCheckLine:nth-child(1) {
    top:12%; left:30%;
    transform:rotateZ(-22.5deg) scaleY(0);
    animation: contactCheckLine1 2s;
}
.contactCheckLine:nth-child(2) {
    top:15%; left:70%;
    transform:rotateZ(22.5deg) scaleY(0);
    animation: contactCheckLine2 2s;
}
.contactCheckLine:nth-child(3) {
    top:38%; left:8%;
    transform:rotateZ(-67.5deg) scaleY(0);
    animation: contactCheckLine3 2s;
}
.contactCheckLine:nth-child(4) {
    top:38%; left:92%;
    transform:rotateZ(67.5deg) scaleY(0);
    animation: contactCheckLine4 2s;
}
.contactCheckLine:nth-child(5) {
    top:72%; left:10%;
    transform:rotateZ(-112.5deg) scaleY(0);
    animation: contactCheckLine5 2s;
}
.contactCheckLine:nth-child(6) {
    top:72%; left:90%;
    transform:rotateZ(112.5deg) scaleY(0);
    animation: contactCheckLine6 2s;
}
.contactCheckLine:nth-child(7) {
    top:93%; left:30%;
    transform:rotateZ(-157.5deg) scaleY(0);
    animation: contactCheckLine7 2s;
}
.contactCheckLine:nth-child(8) {
    top:93%; left:70%;
    transform:rotateZ(157.5deg) scaleY(0);
    animation: contactCheckLine8 2s;
}
.submitContactText {
    position:absolute;
    width:100%;
    font-size:25px;
    color:rgb(63, 80, 117);
    top:50%; left:50%;
    transform:translate(-35%, -50%);
    animation: submitContactTextFade 2s;
    display:none;
    transition:0.8s;
}
.submitContactDiv.active .submitContactText {
    display:block;
}
.afterContactText {
    position:absolute;
    top:80%; left:50%;
    width:100%;
    transform:translateX(-50%);
    font-size:20px;
    animation:afterContactTextFade 3.5s;
    display:none;
    color:rgb(118, 132, 158);
    transition:0.8s;
}
.submitContactDiv.active .afterContactText {
    display:block;
}
.submitContactCancel {
    position:absolute;
    top:-56px;
    right:-28px;
    box-shadow:none;
    padding:28px;
    width:5rem;
    height:auto;
    cursor:pointer;
    display:none;
    pointer-events:none;
    animation:afterContactTextFade 3.5s;
}
.submitContactCancel:hover {
    transform:scale(1.3);
}
.submitContactDiv.active .submitContactCancel {
    display:block;
    pointer-events:all;
}
.loaderContactDiv {
    opacity:0;
    transition:0.2s;
}
.loaderContactDiv.active {
    opacity:1;
}
.loaderContact {
    position:absolute;
    display:none;
    top:42%;
    left:43%;
    width:56px;
    height:56px;
    transform-origin:33% 33%;
    grid-template-columns:1fr 1fr;
    animation: loader 2s infinite;
    z-index:-1;
}
.loaderContact.active {
    display:grid;
}
.dotContact {
    height:30%;
    width:30%;
    animation:dotloader 4s infinite;
    background-color:rgb(63, 80, 117);
}

.shortcutDiv {
    position:absolute;
    width:100%;
    height:100%;
    overflow:hidden;
    transform:rotateY(180deg);
    opacity:0;
    pointer-events: none;
    transition:opacity 0.2s;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.profileWrapper.shortcut .shortcutDiv {
    opacity: 1;
    pointer-events:all;
}
.shortcutHeader {
    position:relative;
    width:100%;
    height:63px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    transition:color 0.8s;
}
.shortcutHeaderText {
    position:absolute;
    margin:0; padding:0;
    width:auto; height:auto;
    top:26px; left:28px;
    font-size:25px;
    transition:color 0.8s;
    color: rgb(93, 104, 126);
}
.shortcutCancel {
    position:absolute;
    top:-6px;
    right:-6px;
    box-shadow:none;
    padding:31px;
    width:5rem;
    height:auto;
    cursor:pointer;
}
.shortcutContainer {
    position:absolute;
    left:14px;
    width:100%;
    height:286px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    display:grid;
    grid-template-columns: 23% 77%;
    overflow-y:scroll;
}
.shortcutContainerShadow {
    position:fixed;
    top:63px; left:0;
    width:90%; height:39px;
    background:linear-gradient(to bottom,rgb(232,238,247),rgba(232, 238, 247, 0));
}
#shortcutBottom {
    top:auto; bottom:24px; left:2px;
    height:28px;
    border-bottom-left-radius: 25px;
    background:linear-gradient(to top,rgb(232,238,247),rgba(232, 238, 247, 0));
}
.keyboardList {
    text-align:right;
    list-style: none;
    margin-top:28px;
}
.keyboard {
    margin-bottom:15px;
    font-size:19px;
}
.shortcutList {
    list-style: none;
    text-align:left;
    margin:28px 0 0 22px;
}
.shortcut {
    margin:0; padding: 0;
    height: auto;
    margin:4px 0 22px 0;
    font-size:16px;
    color:rgb(118, 132, 158);
    transition:0.8s;
    font-family:'Noto Sans JP', sans-serif;
}
kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1.5px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: rgb(84, 99, 124);
    display: inline-block;
    font-size: 0.85em;
    font-weight: 700;
    line-height: 1;
    margin-bottom:1.3px;
    padding: 3px 5px;
    white-space: nowrap;
    transition:0.8s;
}
#altkeyshortcut {
    margin-top:17px;
}
.shortcutContainer::-webkit-scrollbar {
    width:63px; 
    border-radius:50px;
    background:none;
}
.shortcutContainer::-webkit-scrollbar-track {
    background:none;
    border: 24px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: rgb(196, 211, 233);
}
.shortcutContainer::-webkit-scrollbar-thumb {
    border: 28px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 9999px;
    background-color: white;
}

@keyframes contactCheckPulse {
    0% {
        transform:scale(0) translate(-50%, -50%);
    } 30% {
        transform:scale(1.3) translate(-50%, -50%);
    } 40% {
        transform:scale(1) translate(-50%, -50%);
    } 45% {
        transform:scale(1) translate(-50%, -50%);
    } 100% {
        transform:scale(1) translate(-180%, -50%);
    }
}

@keyframes submitContactTextFade {
    0% {
        opacity: 0;
        transform:translate(-55%, -50%);
    } 65% {
        opacity: 0;
        transform:translate(-55%, -50%);
    } 100% {
        opacity: 1;
        transform:translate(-35%, -50%);
    }
}

@keyframes afterContactTextFade {
    0% {
        opacity: 0;
        pointer-events:none;
    } 90% {
        opacity: 0;
        pointer-events:none;
    } 100% {
        opacity: 1;
        pointer-events:all;
    }
}