/*
  background-color:rgba(255, 255, 255, 0.178);
  backdrop-filter:blur(20px);
  box-shadow:0 0 50px rgba(56, 56, 56, 0.144); 

  content:'';
  position:absolute;
  top:0; left:0;
  width:100%; height:100%;
*/
  
  .container.themes p {
    color: rgb(231, 231, 231);
  }
  
  .container.themes ::-webkit-scrollbar-track {
    background-color: rgba(230, 230, 230, 0.26);
  }
  .container.themes ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.945);
  }
  
  .container.themes .title {
    background:rgba(0, 0, 0, 0.822);
  }
  .container.themes .letter {
    color:rgb(219, 219, 219);
    text-shadow:0px 0px 10px rgb(219, 219, 219);
  }

  .container.themes .profileWrapper::before {
    content:'';
    position:absolute;
    top:0; left:0;
    border-radius:38px;
    width:100%; height:100%;
    transform: rotateY(0deg) rotateZ(0deg) scale(1);
    transition:0.8s;
    background-color:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
  }
  .container.themes .profileWrapper.contact::before {
    transform: rotateY(180deg) rotateZ(90deg);
  }
  .container.themes .profileWrapper.shortcut::before {
    transform: rotateY(180deg);
  }

  .container.themes .profileRelative,
  .container.themes .profileWrapper.active .profileRelative,
  .container.themes .profileDiv,
  .container.themes .profileWrapper.active .profileDiv,
  .container.themes .profileDiv.active,
  .container.themes .profilePic.active {
    box-shadow:none;
    background:none;
  }
  .container.themes .signOutText {
    color:rgb(175, 136, 136);
    text-shadow:0 0 3px rgba(0, 0, 0, 0.616);
  }
  .container.themes .profileIcon {
    filter:contrast(0) brightness(1.8) drop-shadow(0 0 2px rgba(0, 0, 0, 0.377));
  }
  .container.themes .profileText {
    color:rgb(235, 235, 235);
    text-shadow:0 0 2px rgba(0, 0, 0, 0.397);
  }
  
  .container.themes .contactText {
    text-shadow:0 0 4px rgba(0, 0, 0, 0.692);
  }
  .container.themes .contactLabel {
    color:rgb(235, 235, 235);
    text-shadow:0 0 4px rgb(0, 0, 0);
  }
  .container.themes .contactEmail {
    border-bottom:thin solid rgb(204, 204, 204);
    color: rgb(219, 219, 219);
    text-shadow:0 0 2px rgb(0, 0, 0);
    overflow:visible;
  }
  .container.themes .emailError {
    color:rgb(241, 144, 144);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.664);
  }
  .container.themes .contactMessage {
    border:thin solid rgb(204, 204, 204);
    color: rgb(219, 219, 219);
    text-shadow:0 0 6px rgb(0, 0, 0);
    overflow:visible;
  }
  .container.themes .contactButton {
    color:rgb(214, 214, 214);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.664);
  }
  .container.themes .contactButton:nth-child(8) {
    color:rgb(241, 144, 144);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.664);
  }
  .container.themes .contactCheck {
    filter:brightness(1.8);
  }
  .container.themes .contactCheckLine {
    border-bottom:15px solid  rgb(243, 243, 243);
  }
  .container.themes .submitContactText {
    color:rgb(243, 243, 243);
  }
  .container.themes .submitContactCancel {
    filter:brightness(1.8);
  }

  .container.themes ::-webkit-scrollbar-track {
    background-color: rgba(230, 230, 230, 0.26);
  }
  .container.themes ::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.945);
  }
  .container.themes  .shortcut {
    color:rgb(235, 235, 235);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.664);
  }
  .container.themes kbd {
    background-color: rgb(224, 224, 224);
    border: 1.5px solid #d3d3d3;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.2), 0 2px 0 0 rgba(144, 144, 144, 0.7) inset;
    color: rgb(80, 80, 80);
    text-shadow:none;
  }
  .container.themes .shortcutContainerShadow {
    background:none;
  }
  .container.themes #shortcutBottom {
    background:none;
  }
  .container.themes .shortcutCancel {
    filter:brightness(2);
  }

  .container.themes .navBar,
  .container.themes .baseNavBar {
    background-color:rgba(255, 255, 255, 0.191);
    box-shadow:0px 0px 0px rgba(29, 29, 29, 0.918);
    backdrop-filter:blur(20px);
    color:rgb(255, 255, 255);
    text-shadow:0 0 6px rgb(0, 0, 0);
  }
  .container.themes .navBar.active,
  .container.themes .baseNavBar.active {
    box-shadow:0px 0px 0px rgba(29, 29, 29, 0.918);
  }
  .container.themes .navBar p {
    overflow:visible;
    color:white;
    text-shadow: 0 0 10px rgb(0, 0, 0);
  }
  .container.themes .sideMenuBtn {
    filter: brightness(2) drop-shadow(0 0 4px rgba(0, 0, 0, 0.644));
    background:rgba(255, 255, 255, 0.322);
  }
  .container.themes .sideMenuBtn.active {
    filter: brightness(2) drop-shadow(0 0 2px black);
    background:rgba(255, 255, 255, 0);
  }

  .container.themes .importImage {
    filter: brightness(1.6) drop-shadow(0 0 10px black);
  }
  .container.themes .switchContainer {
    background-color:rgb(160, 190, 190);
    box-shadow:0px 0px 10px rgb(160, 190, 190);
  }
  .container.themes .switch {
    background-color:rgb(219, 219, 219);
  }
  .container.themes .switchContainer.active {
    background-color:rgb(92, 92, 92);
    box-shadow:0px 0px 0px rgb(160, 190, 190);
  }
  .container.themes .switchContainer.active .switch {
    background-color:rgb(204, 204, 204);
  }

  .container.themes .sideContainer.active #sidecontainerheader1 .sideHeader, .container.themes #sidecontainerheader1:hover .sideHeader {
    color: rgb(214, 255, 255);
  }
  .container.themes .sideContainer.active #sidecontainerheader2 .sideHeader, .container.themes #sidecontainerheader2:hover .sideHeader {
    color: rgb(255, 235, 255);
  }
  .container.themes .sideContainer.active #sidecontainerheader3 .sideHeader, .container.themes #sidecontainerheader3:hover .sideHeader {
    color: rgb(199, 255, 255);
  }
  .container.themes .sideContainer.active #sidecontainerheader4 .sideHeader, .container.themes #sidecontainerheader4:hover .sideHeader {
    color: rgb(255, 255, 199);
  }

  .container.themes #optionimage1, 
  .container.themes #optionimage2, 
  .container.themes #optionimage3, 
  .container.themes #optionimage4 {
    filter:brightness(2) sepia(0) hue-rotate(0) drop-shadow(0 0 5px rgb(27, 27, 27));
  }

  .container.themes .sideContainer.active #optionimage1 {
    filter:brightness(2) sepia(100%) hue-rotate(140deg) drop-shadow(0 0 2px rgb(149, 213, 218));
  }
  .container.themes .sideContainer.active #optionimage2 {
    filter:brightness(2) sepia(100%) hue-rotate(250deg) drop-shadow(0 0 2px rgb(128, 106, 136));
  }
  .container.themes .sideContainer.active #optionimage3 {
    filter:brightness(2) sepia(100%) hue-rotate(100deg) drop-shadow(0 0 2px rgb(167, 223, 188));
  }
  .container.themes .sideContainer.active #optionimage4 {
    filter:brightness(2) sepia(100%) hue-rotate(0) drop-shadow(0 0 2px rgb(207, 197, 152));
  }

  .container.themes .sideContainer.active #optiondecor1 {
    background: rgb(214, 255, 255); 
    box-shadow:0 0 5px rgb(214, 255, 255);
  }
  .container.themes .sideContainer.active #optiondecor2 {
    background: rgb(255, 235, 255); 
    box-shadow:0 0 5px rgb(255, 235, 255);
  }
  .container.themes .sideContainer.active #optiondecor3 {
    background: rgb(199, 255, 255); 
    box-shadow:0 0 5px rgb(199, 255, 255);
  }
  .container.themes .sideContainer.active #optiondecor4 {
    background: rgb(255, 255, 199); 
    box-shadow:0 0 5px rgb(255, 255, 199);
  }

  .container.themes .colorViewer {
    border: thin solid rgb(109, 109, 109);
  }
  .container.themes .customColorPicker {
    background-color:rgba(240, 240, 240, 0.924);
    box-shadow:0px 0px 10px rgb(211, 211, 211);
  }
  .container.themes .defaultColor:hover,
  .container.themes .previewColor:hover {
    color:rgb(104, 104, 104);
  }
  .container.themes .colorBtn {
    filter: brightness(2) drop-shadow(0 0 9px black);
  }
  .container.themes .swatch {
    border:thin solid rgb(92, 92, 92);
  }
  .container.themes .colorInputLabel {
    background:rgb(255, 255, 255);
    box-shadow:inset 0 0 5px rgb(161, 161, 161);
  }
  .container.themes #hashtag {
    color:rgb(149, 149, 149);
    text-shadow: 0 0 0 black;
  }
  .container.themes .colorInput {
    border: thin solid rgb(51, 51, 51);
    background:rgb(255, 255, 255);
    color: rgb(109, 109, 109);
  }

  .container.themes .brightnessSlider,
  .container.themes .hueSlider {
    border:thin solid rgb(77, 77, 77);
  }
  .container.themes .colorTester {
    border:thin solid rgb(68, 68, 68);
    box-shadow:0 0 10px rgb(90, 90, 90);
  }

  .container.themes .sizeSlider {
    background:linear-gradient(to right, rgb(231, 246, 248) 0%, rgb(189, 189, 189) 50%, rgb(87, 87, 87) 100%);
    box-shadow:0 0 10px rgb(90, 90, 90);
  }
  .container.themes .sizeSlider::-webkit-slider-thumb {
    background: radial-gradient(rgb(231, 246, 248) 0%, rgb(158, 231, 144) 100%);
    border: thin solid rgb(65, 65, 65);
    box-shadow:0 0 10px rgb(158, 231, 144);
  }
  .container.themes .sliderNumber {
    color: rgb(175, 175, 175);
  }
  .container.themes .resetSlider {
    filter:brightness(2) drop-shadow(0 0 2px black);
  }

  .container.themes .themeGrid {
    box-shadow:0 0 10px rgba(0, 0, 0, 0.376);
  }
  .container.themes .themeImage {
    box-shadow:0 0 10px rgb(88, 88, 88);
  }
  .container.themes .themeSelect {
    border:1px solid rgb(121, 121, 121);
  }
  .container.themes .themeContainer.active .themeSelectText {
    color: rgb(113, 154, 207);
  }
  .container.themes .themeGrid::-webkit-scrollbar-track {
    background:none;
  }
  .container.themes .themeGrid::-webkit-scrollbar-thumb {
    background-color: rgb(248, 248, 248);
  }
  .container.themes .themeUploadImage {
    filter: brightness(1.4);
  }

  .container.themes .saveBox, .container.themes  .resetPreferences  {
    box-shadow:0px 0px 4px rgb(255, 255, 255);
  }

  .container.themes #resetpreferences {
    text-shadow:0 0 6px black;
  }
  .container.themes #resetconfirm {
    text-shadow:0 0 5px black;
  }
  .container.themes .resetBtn {
    filter: brightness(2) drop-shadow(0 0 2px black);
  }

  .container.themes .sideNightContainer {
    pointer-events:none;
  }

  .container.themes .saveConfirm {
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 10px rgb(110, 110, 110);
    backdrop-filter:blur(20px);
    border:2px solid rgb(255, 255, 255);
  }
  .container.themes .saveConfirmText {
    color:rgb(243, 243, 243);
    text-shadow:0 0 4px black;
  }
  .container.themes .saveConfirmBtn:nth-child(2):hover {
    background-color:rgba(194, 154, 154, 0.287);
  }
  .container.themes .saveConfirmBtn:nth-child(3):hover {
    background-color:rgba(207, 226, 207, 0.253);
  }
  .container.themes .saveConfirmBtn:nth-child(3) {
    border-left:thin solid rgb(226, 226, 226);
  }
  .container.themes .saveConfirmImg {
    filter:brightness(2);
  }
  .container.themes .saveCheck {
    border-bottom:4.2px solid rgb(255, 255, 255);
    border-right:4.2px solid rgb(255, 255, 255);
  }
  
  .container.themes .sideNightContainer {
    opacity:0;
  }

  .container.themes .hotbar {
    background:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
  }
  .container.themes .hotbarIcon {
    filter:brightness(2) opacity(1) drop-shadow(0 0 4px rgb(44, 44, 44));
  }
  .container.themes .hotbarIconTooltip {
    overflow:visible;
    color:rgb(255, 255, 255);
    text-shadow:0 0 7px black;
  }
  .container.themes .recentPlaceholder, .container.themes .popularPlaceholder {
    color:rgb(248, 248, 248);  
    text-shadow:0 0 6px rgba(0, 0, 0, 0.589);
    overflow: visible;
  } 
  .container.themes .hotbarLink {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.521);
  }

  .container.themes .searchBar {
    color: rgb(231, 231, 231);
    text-shadow:0 0 1px rgb(0, 0, 0);
    background-color:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
  }
  .container.themes .searchBar:focus {
    background-color:rgba(255, 255, 255, 0.226);
    outline:none;
  }
  .container.themes ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(231, 231, 231);
    overflow:visible;
    opacity: 1; /* Firefox */
  }
  .container.themes :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: rgb(231, 231, 231);
    overflow:visible;
  }
  .container.themes ::-ms-input-placeholder { /* Microsoft Edge */
    color: rgb(231, 231, 231);
    overflow:visible;
  }

  .container.themes .navBtns {
    text-shadow:0 0 0 black;
    background-color:rgba(255, 255, 255, 0.24);
    backdrop-filter:blur(20px);
    opacity:0.8;
  }
  .container.themes .navBtnWrapper.active .navBtns {
    background:rgba(255, 255, 255, 0.178);
    opacity:1;
  }
  .container.themes .navBtnWrapper.active .tabThemeBlur {
    opacity:1;
  }

  .container.themes .dropTabBox {
    background:linear-gradient(to right, rgba(75, 60, 60, 0) 0%,rgba(14, 14, 14, 0.616) 50%, rgb(46, 46, 46) 100%);
  }
  .container.themes .dropTabText {
    color: rgb(168, 168, 168);
  }
  .container.themes .dropLinkBox {
    background:linear-gradient(to right, rgba(14, 14, 14, 0) 0%,rgba(14, 14, 14, 0.69) 50%, rgba(37, 37, 37, 0.89) 100%);
  }
  .container.themes .dropLinkText {
    color: rgb(168, 168, 168);
  }

  .container.themes .leftTabArrow, .container.themes .rightTabArrow {
    text-shadow:0 0 0 black;
    background-color:none;
    backdrop-filter:brightness(0.6) blur(20px);
    box-shadow:0 0 50px rgba(0, 0, 0, 0.171);
    filter:brightness(2) drop-shadow(0 0 1px rgba(0, 0, 0, 0.65));
  }

  .container.themes .grid {
    background:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
    box-shadow:0 0 50px rgba(56, 56, 56, 0); /* 0.144 */
  }
  .container.themes .grid.erase .linkBox:hover .linkImg {
    filter:drop-shadow(0 0 0px rgb(255, 203, 203));
  }
  .container.themes .addLinkGrid {
    border:3px solid rgb(255, 255, 255);
  }
  .container.themes .addLinkGridImage {
    filter:brightness(2);
  }

  .container.themes .modContainer, .container.themes .modBoxConfirm {
    backdrop-filter:blur(20px); 
    box-shadow:0 0 50px rgba(0, 0, 0, 0.171);
  }
  .container.themes .modContainer::before, .container.themes .modBoxConfirm::before {
    content:'';
    position:absolute;
    width:100%; height:100%;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px;
    background:rgba(255, 255, 255, 0.116);
  }
  .container.themes .modContainerImage, .container.themes .modImgConfirm {
    left:51%; transform:translate(-50%, -10%);
  }
  .container.themes .modImgConfirm {
    transform:translate(-50%, -15%) rotateZ(-320deg) scale(1.2);
  }
  .container.themes .modBoxConfirm.active .modImgConfirm {
    transform:translate(-50%, -15%) rotateZ(40deg) scale(1.2);
  }
  .container.themes .modContainer.hide, .container.themes .modBoxConfirm.hide {
    opacity:0;
  }

  .container.themes .dot:nth-child(1) { background-color:rgb(139, 139, 139)}
  .container.themes .dot:nth-child(2) { background-color:rgb(139, 139, 139)}
  .container.themes .dot:nth-child(3) { background-color:rgb(139, 139, 139)}
  .container.themes .dot:nth-child(4) { background-color:rgb(139, 139, 139)}

  .container.themes .tabEraseConfirm {
    background-color: rgba(255, 255, 255, 0.24);
    box-shadow: 0 0 10px rgb(110, 110, 110);
    backdrop-filter:blur(20px);
    border:2px solid rgb(255, 255, 255);
  }
  .container.themes .tabEraseConfirmText {
    color:rgb(243, 243, 243);
    text-shadow:0 0 4px black;
  }
  .container.themes .tabEraseConfirmBtn:nth-child(2):hover {
    background-color:rgba(194, 154, 154, 0.287);
  }
  .container.themes .tabEraseConfirmBtn:nth-child(3):hover {
    background-color:rgba(207, 226, 207, 0.253);
  }
  .container.themes .tabEraseConfirmBtn:nth-child(3) {
    border-left:thin solid rgb(226, 226, 226);
  }
  .container.themes .tabEraseImg {
    filter:brightness(2);
  }
  .container.themes .tabEraseCheck {
    border-bottom:4.2px solid rgb(255, 255, 255);
    border-right:4.2px solid rgb(255, 255, 255);
  }
  .container.themes .sk-chase-dot:before {
    background-color: rgb(255, 255, 255);
    box-shadow:0 0 12px rgb(255, 255, 255);
  }

  .container.themes .linkFormDiv {
    background:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
  }
  .container.themes .linkFormDiv::-webkit-scrollbar-track {
    background:none;
  }
  .container.themes .linkFormDiv::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.945);
  }
  .container.themes .addLinkCancel {
    filter:brightness(2);
  }
  .container.themes .linkFormDiv h1 {
    color:rgba(248, 248, 248, 0.781);
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  .container.themes .selectTab {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .selectTabText {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .selectTabChosen:hover .selectTabText{ color:rgb(175, 189, 201) }
  .container.themes .selectTabArrow {
    border-bottom:2px solid rgba(248, 248, 248, 0.781);
    border-right:2px solid rgba(248, 248, 248, 0.781);
  }
  .container.themes .selectTabChosen:hover .selectTabArrow,
  .container.themes .selectTab.active .selectTabChosen:hover .selectTabArrow {
    border-bottom:2px solid rgb(175, 189, 201);
    border-right:2px solid rgb(175, 189, 201);
  }
  .container.themes .selectTabList {
    background:rgba(146, 146, 146, 0.911);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
  }
  .container.themes .selectTabItem {
    color:rgba(255, 255, 255, 0.671);
    border-bottom:thin solid rgba(255, 255, 255, 0.404);
  }
  .container.themes .selectTab.active .selectTabItem:hover {
    color:rgb(219, 231, 255);
  }
  .container.themes .selectTabList::-webkit-scrollbar-track {
    background:rgb(75, 75, 75);
  }
  .container.themes .selectTabList::-webkit-scrollbar-thumb {
    background:rgb(29, 29, 29);
  }
  .container.themes .linkFormDiv input[type=text] {
    border-bottom:1px solid rgba(248, 248, 248, 0.781);
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .linkFormDiv label {
    color:rgba(248, 248, 248, 0.781);
    text-shadow: 0px 0px 6px rgb(0, 0, 0);
  }
  .container.themes .defaultImg {
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
  }
  .container.themes .imgContainer .imgLabel {
    color:rgba(248, 248, 248, 0.781);
    text-shadow: 0px 0px 4px rgb(0, 0, 0);
  }
  .container.themes .imgContainer.active .imgLabel {
    color:rgba(133, 171, 236, 0.8);
    border-bottom:thin solid rgba(133, 171, 236, 0.8);
  }
  .container.themes .imageAddress.active {
    color:rgba(133, 171, 236, 0.8);
  }

  .container.themes .clearImg {
    color:rgb(189, 189, 189);
  }
  .container.themes .previewBox {
    background:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
  }

  .container.themes .linkFormDiv button.submit {
    background:rgba(255, 255, 255, 0.082);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
    color: rgba(255, 255, 255, 0.794);
  }
  .container.themes .linkFormDiv button.submit:hover {
    letter-spacing:1px;
  }
  .container.themes .linkFormDiv img {
    box-shadow:none;
  }
  .container.themes .errMsg {
    color:rgb(255, 190, 190);
    text-shadow:0 0 4px black;
}

  .container.themes .suggestionWrapper {
    background:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
  }
  .container.themes .suggestionLink, .container.themes .suggestionTitle {
    color:rgb(235, 235, 235);
    border-bottom: thin solid rgba(223, 223, 223, 0.411);
  }
  .container.themes .suggestionLink:focus,
  .container.themes .suggestionLink:hover,
  .container.themes .suggestionTitle:focus,
  .container.themes .suggestionTitle:hover {
    color:rgb(208, 225, 255);
  }

  .container.themes .addTabDiv {
    background-color:rgba(255, 255, 255, 0.13);
    backdrop-filter:blur(20px);
  }
  .container.themes #addtabdiv {
    opacity:1;
  }
  .container.themes .addTabPlus {
    box-shadow:none;
    filter:brightness(2) grayscale(200%) drop-shadow(0 0 5px black);
  }
  .container.themes .tabInput {
    color:rgb(235, 235, 235);
    text-shadow:0 0 3px rgba(0, 0, 0, 0.849);
  }
  .container.themes .tabCancel,
  .container.themes .tabSubmit {
    box-shadow:0 0 10px rgba(0, 0, 0, 0.554);
    background:rgba(240, 240, 240, 0.685);
  }
  .container.themes .tabCancel:hover,
  .container.themes .tabSubmit:hover {
    color:rgb(115, 153, 235);
    letter-spacing:0.5px;
  }
  .container.themes .submitTabImg,
  .container.themes #tabsubmitimg {
    filter:brightness(2) drop-shadow(0 0 5px rgba(0, 0, 0, 0.794));
  }
  .container.themes .colorPicker {
    margin-top:2px;
  }
  .container.themes .tabInput::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(235, 235, 235);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.876);
  }
  .container.themes .tabInput:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color:rgb(235, 235, 235);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.876);
  }
  .container.themes .tabInput::-ms-input-placeholder { /* Microsoft Edge */
    color:rgb(235, 235, 235);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.876);
  }

  .container.themes .bookmarkBox {
    background-color: rgba(255, 255, 255, 0.205);
    backdrop-filter:blur(20px);
    box-shadow:none;
  }
  .container.themes .bookmarkHead {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .bookmarkCancel {
    filter:brightness(2);
  }
  .container.themes .dots {
    filter:brightness(2);
  }
  .container.themes .openFileButton {
    box-shadow:0px 0px 2px rgb(255, 255, 255), inset 0 0 18px white;
    text-shadow: 0 0 8px rgb(93, 93, 93);
  }

  .container.themes .selectAll {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .selectAll:hover {
    color:rgba(190, 197, 209, 0.8);
  }
  .container.themes .confirmBookmark {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .confirmBookmark:hover {
    color:rgba(190, 197, 209, 0.8);
  }
  .container.themes .noBookmarks {
    opacity:0.8;
  }

  .container.themes .itemContainer {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .itemContainer:hover .bookmarkItem {
    color:#d7eaffcc;
  }
  .container.themes .selectAll {
    border-right: 1px solid rgba(255, 255, 255, 0.8);
  }
  .container.themes .bookmarkList {
    border-top:thin solid rgba(255, 255, 255, 0.8);
  }
  .container.themes .itemContainer {
    border-bottom: thin solid rgba(255, 255, 255, 0.8);
  }

  .container.themes #addFormDiv::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.945);
  }
  
  .container.themes .teachHeader {
    color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .teachHeaderLine {
    background-color:rgba(248, 248, 248, 0.781);
  }
  .container.themes .teachSteps {
    color: rgba(248, 248, 248, 0.781);
  }
  .container.themes .openFileButton {
    color: rgba(248, 248, 248, 0.781);
  }

  .container.themes .linkContextMenuWrapper {
    background:rgba(255, 255, 255, 0.178);
    backdrop-filter:blur(20px);
    box-shadow:0 0 50px rgba(56, 56, 56, 0.144);
  }
  .container.themes .linkContextMenuButton {
    box-shadow:none;
    background:rgba(255, 255, 255, 0.178);
  }
  .container.themes .linkContextMenuOptionText, .container.themes .linkContextMenuButtonText {
    color:rgb(241, 241, 241);
    text-shadow:0 0 4px rgba(0, 0, 0, 0.705);
  }
  .container.themes .linkContextMenuDivider {
    background-color:rgba(241, 241, 241, 0.438);
    box-shadow:0 0 4px black;
  }
  .container.themes .linkContextMenuEraseHeader {
    color:rgb(241, 241, 241);
    text-shadow:0 0 4px black;
  }
  .container.themes .linkContextMenuEraseCancel {
    filter:brightness(2) drop-shadow(0 0 4px rgba(0, 0, 0, 0.507));
  }
  .container.themes .linkContextMenuCheckmark {
    filter:brightness(2) drop-shadow(0 0 4px rgba(0, 0, 0, 0.507));
  }